<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= video.name %>
    </title>
    <meta name="description" content="<%= video.description %>  | Ani Night">
    <link rel="shortcut icon" href="/images/logo/Aninight.png" type="image/x-icon">
    <meta name="keywords" content="anime, Anime, อนิเมะ, <%= video.name %>, <%= video.categories %>">
    <meta name="author" content="aninight by Night">
    <meta property="og:title" content="<%= video.name %> | AniNight">
    <meta name="title" content="<%= video.name %> " />
    <meta name="description" content="<%= video.description %>  | Ani Night" />


    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ani-night.online/play/32140" />
    <meta property="og:title" content="<%= video.name %>" />
    <meta property="og:description" content="<%= video.description %>  | Ani Night" />
    <meta property="og:image" content="https://ani-night.online/cover_videos/<%= video.coverImage %>" />


    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://ani-night.online/play/32140" />
    <meta property="twitter:title" content="<%= video.name %>" />
    <meta property="twitter:description" content="<%= video.description %>  | Ani Night" />
    <meta property="twitter:image" content="https://ani-night.online/cover_videos/<%= video.coverImage %>" />

    <!-- Links -->
    <link rel="stylesheet" href="../css/play.css">
    <link rel="stylesheet" href="../css/pages/video_player.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6579807593228261"
        crossorigin="anonymous"></script>
    <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
    <script src="https://imasdk.googleapis.com/js/sdkloader/ima3.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/df26bd9708.js" crossorigin="anonymous"></script>
    <script src="/js/video_player.js" defer></script>
    <!-- <script src="/js/play.js" defer></script> -->
    <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
    <script>
    window.googletag = window.googletag || {cmd: []};
    googletag.cmd.push(function() {
        googletag.defineSlot('/22745653040/ad-center-play', [200, 200], 'div-gpt-ad-1722178792550-0').addService(googletag.companionAds()).addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.pubads().enableVideoAds();
        googletag.companionAds().setRefreshUnfilledSlots(true);
        googletag.enableServices();
    });
    </script>
</head>
<body>
    <%- include('../navnar_Header') %>
    <%- include('../sidebar_Section') %>

    <!-- Main_Cintent -->
     <div class="flex justify-center mt-8 mb-8">
        <div class="w-full max-w-4xl bg-white p-4 shadow-lg rounded-lg">
            <div class="relative container overflow-hidden h-[190px] sm:h-[330px] md:h-[440px] md-w-full lg:[550px] rounded-lg bg-black">
                <div class="video_player overflow-hidden  rounded-lg" style="user-select: none;">
                    <h1 class="videoidtoken" data-videoid="<%= video._id %>"></h1>
                    <video
                    <% if (video.coverImage) {%>
                        poster="/cover_videos/<%= video.coverImage %>"
                    <% } %> class="main-video" id="video">
                    <source src="/videos/<%= video.filePath %>" size="720" type="video/mp4">
                    <% if (video.subthai) { %>
                        <track default label="ซับไทย" kind="subtitles" src="../subtitles/<%= video.subthai %>"
                            srclang="th">
                        <% } %>
                    </video>
                    <div id="video-ad-container" class="ad-container"></div>
                    <div class="ads-config-respoinse hidden md:block">
                        <p class="icon-close"><i class="fas fa-times-circle text-red-500 text-3xl"></i></p>
                        <div class="ad-center-vdo">
                            <!-- /22745653040/ad-center-play -->
                            <div id='div-gpt-ad-1722178792550-0' style='min-width: 200px; min-height: 200px;'>
                                <script>
                                googletag.cmd.push(function() { googletag.display('div-gpt-ad-1722178792550-0'); });
                                </script>
                            </div>
                        </div>
                    </div>
                    <div id="comments-container" class="comments-container" style="z-index: 10;"></div>
                    <div class="watermark">
                        <h3>AniNight</h3>
                    </div>
                    <div class="ad-timer ads-timer">
                        <div class="flex items-center">
                            <p class="pr-2">กำลังเล่นโฆษณา:</p>
                        <span class="current-ad">0:00</span> /
                        <span class="duration-ad">0:00</span> |
                        <span class="ad-count">0/0</span>
                        </div>
                    </div>
                </div>
                <div style="user-select: none;" class="absolute top-2 left-2 bg-black bg-opacity-75 text-white p-4 text-sm rounded">เวอร์ชั่นทดสอบ</div>
            </div>
            <div class="comment-sky bg-white text-black flex p-3">
                <div id="settings" class="hidden md:flex md:justify-start md:items-center md:block">
                    <label for="speed-input">ความเร็ว (วินาที):</label>
                    <input type="number" id="speed-input" class="w-1/2 outline-none border-2 border-gray-200 px-4" value="10" min="1" step="0.5">
                </div>
                <form id="comment-form" class="flex w-full justify-end flex-row">
                    <input type="text" id="comment-input" class="w-full outline-none" placeholder="พิมพ์ความคิดเห็นลอยของคุณที่นี่...">
                    <button class="bg-sky-500 rounded px-4" type="submit">ส่ง</button>
                </form>

            </div><hr class="mt-5 mb-5">
            <div class="text-white bg-red-600 p-4 rounded">เนื่องจากหน้าเล่นนี้อยู่ระหว่างพัฒนา ตัววีดีโอที่มีแต่โฆษณา เพราะเรากำลังพัฒนา</div>
            <div class="mt-4 text-black">
                <h2 class="text-xl font-bold"><%= video.name %></h2>
                <div class="flex items-center justify-between mt-2">
                    <% if (video.author && video.author.id) { %>
                    <div class="flex items-center space-x-2">
                        <img src="/profiles/<%= video.author.id.profile %>" alt="Channel" class="rounded-full w-10 h-10">
                        <div class="flex flex-col">
                            <span class="text-sm font-bold"><%= video.author.id.username %></span>
                            <!-- <span class="text-sm text-gray-500">ผู้ติดตาม  คน</span> -->
                        </div>
                    </div>
                    <% } %>
                    <!-- <button class="bg-red-600 text-white px-4 py-2 rounded-full">ติดตามแล้ว</button> -->
                </div>
                <div class="flex items-center justify-between mt-4">
                    <!-- <div class="flex items-center space-x-4">
                        <button class="flex items-center space-x-1 text-gray-600">
                            <i class="fas fa-thumbs-up"></i>
                            <span>68</span>
                        </button>
                        <button class="flex items-center space-x-1 text-gray-600">
                            <i class="fas fa-share"></i>
                            <span>แชร์</span>
                        </button>
                        <button class="flex items-center space-x-1 text-gray-600">
                            <i class="fas fa-save"></i>
                            <span>บันทึก</span>
                        </button>
                        <button class="flex items-center space-x-1 text-gray-600">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                    </div> -->
                </div>
                <div class="mt-4">
                    <div class="border-b pb-4 mb-4">
                        <% if (video && video.createdAt) { %>
                        <span class="text-sm text-gray-500">ยอดรับชม <%= video.views %>  คน · แสดงครั้งแรกเมื่อวันที่ <%= new Date(video.createdAt).toLocaleDateString('en-EN') %> · #ยังอยู่เวอร์ชั่นทดสอบ</span>
                        <% } %>
                       <div class="flex flex-col">
                        <% if(video.description.length <=50) { %>
                            <%= video.description %>
                                <% } else { %>
                           <span class="short-text">
                                 <%- video.description.substring(0, 50) + '  ....' %>
                             </span>
                
                              <span class="full-text" style="display: none;">
                                        <%- video.description %>
                               </span>
                               <span class="more-btn">ดูเพิ่มเติม</span>
                               <span class="less-btn" style="display: none;">ย่อ</span>
                      <% } %>
                       </div>
                    </div>
                    <div class="flex w-full">
                        <!-- <div class="flex flex-col">
                            <img src="https://via.placeholder.com/30" alt="User Avatar" class="rounded-full">
                            <span class="text-xs text-gray-500">11:05 AM</span>
                        </div> -->
                        <div class="flex flex-col w-full">
                            <% if (usersesstion) { %>
                                <form>
                                    <div class="comment-box">
                                        <input type="hidden" name="video_id" value="<%= video._id %>" readonly>
                                        <div class="flex">
                                            <div class="m-1 flex items-center justify-center">
                                                <img src="/profiles/<%= usersesstion.profile %>" alt="Profilecomment" class="w-10 rounded-full">
                                            </div>
                                            <div class="flex flex-col w-full">
                                                <p>
                                                    <%= usersesstion.username %>
                                                </p>
                                                <input type="text" name="inputcomment" id="comment" class="custom-input" style="outline: none;"
                                                    placeholder="แสดงความคิดเห็น" required>
                                            </div>
                                        </div>
                                        <button data-videoid="<%= video._id %>" class="btn-comment" type="submit">แสดงความคิดเห็น</button>
                                    </div>
                                </form>
                
                               <% } else { %>
                                <p>หากคุณต้องการแสดงความคิดเห็นกรุณาเข้าสู่ระบบ <a href="/login" class="pl-3 text-2xl">เข้าสู่ระบบ</a></p>
                              <% } %>
                              <% if (video && video.replies) { %>
                                <% const totalReplies = video.replies.length; %>
                                <h2 style="font-weight: bold;" class="mb-6 text-2xl">ความคิดเห็นทั้งหมด: <%= totalReplies %></h2>
                            <% } %>
                            <div class="p-2 rounded-lg">
                                <ul>
                                    <% video.replies.slice().reverse().forEach(comment => { %>
                                        <li class="comment-list__wrap__item bg-gray-200 rounded-lg p-5 text-black mb-5 mt-5">
                                            <div class="comment--root comment--pc">
                                                <div class="iconprofile-comment">
                                                    <a href="/editor/<%= comment.username.username %>" target="_blank">
                                                        <img src="/profiles/<%= comment.username.profile %>" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="comment__container">
                                                <div class="comment__user">
                                                    <a class="comment__name" href="/editor/<%= comment.username.username %>" target="_blank">
                                                        <h5><%= comment.username.username %></h5>
                                                    </a>
                                                   
                                                    <span class="comment__time"><%=  moment(comment.createdAt ).locale('th').fromNow() %></span>
                                                </div>
                                                <div class="comment__content">
                                                    <span class="comment-content__text"><%= comment.content %></span>
                                                </div>
                                                <div class="comment__operate">
                                                    <div class="comment__operate__item">
                                                        <form>
                                                            <i class="fa-regular fa-thumbs-up" data-video-id="<%= video._id %>" data-commentId="<%= comment._id %>"></i> 
                                                            <span class="text-1xl likes-count"><%= comment.likes %></span>
                                                        </form>                                            
                                                    </div>
                                                    <div class="comment__operate__item report">
                                                        <i class="fa-regular fa-flag"></i>
                                                        <span data-v-a42dab90="">รายงาน</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    <% }); %>                        
                                </ul>
                            </div>
                            <!-- <div class="bg-gray-200 p-2 rounded-lg">
                                <p class="text-sm">ZKYXBY XDDD <i class="fas fa-heart text-red-500"></i><i class="fas fa-heart text-red-500"></i><i class="fas fa-heart text-red-500"></i></p>
                            </div>
                            <div class="mt-2 bg-gray-200 p-2 rounded-lg">
                                <p class="text-sm">แนววันพีช By.ลุงหมอ</p>
                            </div> -->
                        </div>
                    </div>
                    <div class="mt-4 bg-gray-200 p-2 rounded-lg">
                        <p class="text-sm">
                            เนื่องจากหน้าเล่นวีดีโอนี้ใช้สำหรับทดสอบเท่านั้น !! ยังไม่ได้ให้บริการ
                        </p>
                    </div>
                </div>
            </div>
        </div>
     </div>

     <%- include('../footer') %>
</body>
</html>