<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= acticle.title %>
    </title>
    <link rel="stylesheet" href="../css/pages/read.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="shortcut icon" href="/images/logo/Aninight.png" type="image/x-icon">
    <meta name="keyword" content="<%= acticle.title %>">
    <meta name="keyword" content="<%= acticle.categories %>">
    <meta property="og:title" content="<%= acticle.title %>">
    <meta name="description" content="อัตเดตข่าวสารด้านอนิเมะที่คุณชอบ พร้อมเนื้อหาที่มีประโยนช์แ่คุณ!!">
    <meta property="og:image" content="https://ani-night.online/acticles_images/<%= acticle.photo %>">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:site_name" content="ani-night.online">
    <meta property="og:type" content="website">
    <meta name="twitter:description" content="เว็บที่ให้คุณเขียนบทความข่าวสารด้านอนิเมะ และรับรายได้จากค่าโฆษณา">
    <meta name="google-site-verification" content="eyTwMkNmyYZFyV7ag9MuAEh5uOPdc4uZ6ONSM3w5HRI">
    <meta property="og:url" content="https://ani-night.online/read/<%= acticle.url %>">
    <meta name="twitter:title" content="<%= acticle.title %>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <meta name="twitter:image" content="https://www.ani-night.online/acticles_images/<%= acticle.photo %>">
    <meta name="googlebot" content="notranslate">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6579807593228261"
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LTJP520FN4"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-LTJP520FN4');
    </script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <% if (usersesstion) {%>
        <script>
           $(document).ready(function() {
            $('#like-button').on('click', function() {
                var button = $(this);
                var postId = button.data('id');
                console.log("id article",postId),
                $.ajax({
                    url: '/api/v1/posts/article/like',
                    type: 'POST',
                    headers: {
                    'Authorization': 'Bearer ' + '<%= usersesstion.token %>', 
                    'Content-Type': 'application/json'
                },
                data: JSON.stringify({ id: postId }),
               
                    success: function(response) {
                        button.toggleClass('liked');
                        $('#like-count').text(response.likesCount);
                        alert(response.message);
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
            });
        });
        </script>
    <% } %>
</head>

<body class="bg-white">
    <%- include('../navnar_Header') %>
    <%- include('../sidebar_Section') %>
        <div class="app max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <% if (acticle.published) { %>
                <div class="container mx-auto p-4">
                    <div class="flex flex-col md:flex-row gap-4">
                        <!-- Main Content -->
                        <div class="flex-1 bg-white p-4 rounded shadow-md">
                            <div id="main-content" class="skeleton">
                                <div class="title__main flex justify-between items-center">
                                    <div class="title__header">
                                        <h1 class="text-2xl font-bold mb-4"><%= acticle.title %></h1>
                                       </div>
                                    <div class="right__title-main">
                                        <div class="relative">
                                            <!-- Share Button -->
                                            <button id="share-button" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition-colors">
                                                แชร์
                                            </button>

                                        <!-- Popup Alert -->
                                        <div class="popupalert" id="popupalert">
                                            <p>แชร์ลิ้งแล้ว</p>
                                        </div>

                                        <div class="data__box-share hidden">
                                            <form>
                                                <input type="text" name="articleTitle" value="<%= acticle.title %>">
                                                <input type="text" name="articleContent" value="<%- acticle.content %>">
                                                <input type="file" name="articleImage" value="/acticles_images/<%= acticle.photo %>">
                                            </form>
                                        </div>
                                        
                                            <!-- Share Popup -->
                                            <div id="share-popup" class="hidden absolute top-full right-0 mt-2 w-64 bg-white border border-gray-300 rounded-lg shadow-lg p-4 z-50">
                                                <h3 class="text-md font-semibold mb-2">แชร์บทความนี้</h3>
                                                <button id="copy-link" class="w-full bg-gray-100 hover:bg-gray-200 text-gray-800 px-2 py-1 rounded mb-2 flex items-center justify-between">
                                                    คัดลอกลิ้ง
                                                    <i class="fas fa-link"></i>
                                                </button>
                                                <button class="share-button w-full bg-blue-600 hover:bg-blue-700 text-white px-2 py-1 rounded mb-2 flex items-center justify-between" data-platform="facebook">
                                                    Facebook
                                                    <i class="fab fa-facebook-f"></i>
                                                </button>
                                                <button class="share-button w-full bg-blue-400 hover:bg-blue-500 text-white px-2 py-1 rounded mb-2 flex items-center justify-between" data-platform="twitter">
                                                    Twitter
                                                    <i class="fab fa-twitter"></i>
                                                </button>
                                                <button class="share-button w-full bg-pink-500 hover:bg-pink-600 text-white px-2 py-1 rounded mb-2 flex items-center justify-between" data-platform="tiktok">
                                                    TikTok
                                                    <i class="fab fa-tiktok"></i>
                                                </button>
                                                <button class="share-button w-full bg-red-600 hover:bg-red-700 text-white px-2 py-1 rounded mb-2 flex items-center justify-between" data-platform="youtube">
                                                    YouTube
                                                    <i class="fab fa-youtube"></i>
                                                </button>
                                            </div>
                                        </div>
                            
                                    </div>
                                </div>
                               <div class="flex justify-between items-center" style="border-bottom: 1px solid #eee;">
                                <div class="mb-4">
                                    <h2 class="text-lg font-semibold bg-gray-100 rounded-full p-1">เขียนโดย: <a href="/editor/<%= acticle.author.username %>" target="_blank" ><%= acticle.author.username %></a></h2>
                                    <p class="text-gray-600"><%= acticle.author.bio %></p>
                                </div>
                                <div class="mt-1 max-w-2xl text-sm text-gray-500 flex flex-col items-center md:flex-row md:items-center">
                                     <%= moment(acticle.createdAt).locale('th').fromNow() %>,
                                     <p class="pl-3 text-sm">
                                        การดู <%= formatNumber(acticle.views) %> ครั้ง,
                                    </p>
                                    <p class="md:ml-2">เผยแพร่เมื่อ: <%= new Date(acticle.createdAt).toLocaleDateString() %></p>
                                </div>
                               </div>

                             <!-- Advertisement Section -->
                            <div class="ads-container my-8 p-4 bg-gray-50 rounded-lg shadow-md border border-gray-200 aspect-w-16 aspect-h-9">
                                <div class="text-center mb-4">
                                    <p class="text-sm text-gray-500 " style="user-select: none;">Sponsored</p>
                                </div>
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6579807593228261"
                                    crossorigin="anonymous"></script>
                                <ins class="adsbygoogle block mx-auto" style="display:block; text-align:center; width: 50%;"
                                    data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-6579807593228261"
                                    data-ad-slot="5440757573"></ins>
                                <script>
                                    (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                            </div>

                                
                                <p><%- acticle.content %></p>


                                <div class="gallery flex justify-center flex-col mt-5 w-full">
                                    <% if (acticle.images.length > 0) { %>
                                        <% acticle.images.forEach(function(image) { %>
                                            <img src="/ArticlesImages_mord/<%= image %>" alt="Article Image" class="w-full h-full object-cover">
                                        <% }); %>
                                    <% } %>
                                </div>

                                <hr class="mb-2 mt-4">

                                <div class="comment mb-5">
                                    <% if (usersesstion) {%>
                                        <form id="commentForm" class="w-full">
                                            <div class="flex items-center">
                                                <img class="w-10 h-10 rounded-full" src="/profiles/<%= usersesstion.profile %>" alt="Coment user">
                                                <div class="flex flex-col pl-4 w-full">
                                                    <input type="text" name="UserName" id="UserName" value="@<%= usersesstion.username %>" readonly class="outline-none border-none">
                                                    <div class="comtemt-text flex flex-row">
                                                        <input class="bg-gray-100 p-2 w-full px-4 outline-none border-none" type="text" placeholder="แสดงความคิดเห็น" name="inputcomment" id="inputcomment">
                                                        <button class="bg-blue-500 text-white rounded px-4" type="submit">ส่ง</button>
                                                    </div>
                                                    <p>หากแสดงความคิดไม่ขึ้นให้ รีเฟรชหน้าเว็บ </p>
                                                </div>
                                            </div>
                                        </form>
                                    <% } %>
                                </div>

                                <% if (acticle && acticle.replies) { %>
                                    <% const totalReplies = acticle.replies.length; %>
                                    <h3 class="font-bold text-2xl">ความคิดเห็นทั้งหมด <%= totalReplies %></h3>
                                <% } %>
                                <% const totalReplies = acticle.replies.length; %>

                                <ul id="outputcomment" class="comments-list space-y-4">
                                    <% acticle.replies.slice().reverse().forEach(comment => { %>
                                        <li class="bg-white p-4">
                                            <div class="w-full">
                                                <div class="flex w-full">
                                                    <img class="w-10 h-10 rounded-full" src="/profiles/<%= comment.username.profile %>" alt="Comment user">
                                                    <div class="flex flex-col pl-4 w-full">
                                                        <div class="flex items-center gap-2 text-gray-500">
                                                            <h3>@<%= comment.username.username %></h3> ▪
                                                            <p class="text-gray-600 text-sm">โพสต์เมื่อ <%= moment(comment.createdAt).locale('th').fromNow() %></p>
                                                        </div>
                                                        <div class="comment-text">
                                                            <%= comment.inputcomment %>
                                                        </div>
                                                        <div class="flex gap-2 text-gray-500">
                                                            <div class="flex items-center gap-2 cursor-pointer">
                                                                <i class="fa-regular fa-thumbs-up" onclick="likeComment('<%= acticle._id %>', '<%= comment._id %>')"></i>
                                                                <span class="text-1xl likes-count" id="likes-count-<%= comment._id %>"><%= comment.likes %></span>
                                                            </div>
                                                            <div class="flex items-center gap-2 cursor-pointer">
                                                                <i class="fa-solid fa-reply"></i>
                                                                <button type="button" onclick="toggleReplyForm('<%= comment._id %>')">ตอบกลับ</button>
                                                            </div>
                                                        </div>
                                                        <div id="reply-form-<%= comment._id %>" class="comment-reply-form mt-2 hidden flex">
                                                            <form action="/articles/<%= acticle._id %>/comments/<%= comment._id %>/replies" method="POST">
                                                                <textarea class="w-full p-3 border outline-none" name="inputcomment" required placeholder="ตอบกลับ"></textarea>
                                                                <button class="bg-blue-500 px-2 text-white" type="submit">ตอบกลับ</button>
                                                            </form>
                                                        </div>
                                                        <ul id="replies-<%= comment._id %>" class="space-y-2 hidden">
                                                            <% comment.replies.forEach(reply => { %>
                                                            <li class="reply-box m-5 flex items-center bg-gray-100 rounded p-2">
                                                                <div>
                                                                    <img class="w-10 h-10 rounded-full" src="/profiles/<%= reply.username.profile %>" alt="@<%= reply.username.username %>">
                                                                </div>
                                                                <div class="flex flex-col pl-4">
                                                                    <div class="flex items-center gap-2 text-gray-500">
                                                                        <h3>@<%= reply.username.username %></h3> ▪
                                                                        <p class="text-gray-600 text-sm">โพสต์เมื่อ <%= moment(reply.createdAt).locale('th').fromNow() %></p>
                                                                    </div>
                                                                    <div class="comment-text">
                                                                        <%= reply.inputcomment %>
                                                                    </div>
                                                                    <div class="flex gap-2 text-gray-500">
                                                                        <div class="flex items-center gap-2">
                                                                            <form>
                                                                                <i class="fa-regular fa-thumbs-up"></i>
                                                                                <span class="text-1xl likes-count"><%= reply.likes %></span>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <% }) %>
                                                        </ul>
                                                        <% if (comment.replies.length > 0) { %>
                                                        <button onclick="toggleReplies('<%= comment._id %>')" class="flex items-center gap-2 mt-5 hover:bg-blue-700 hover:text-white cursor-pointer text-blue-500 rounded-full p-1" id="toggle-button-<%= comment._id %>">
                                                            <i class="fa-solid fa-arrow-down-long"></i>
                                                            <span>แสดงความคิดเพิ่มเติม</span>
                                                        </button>
                                                        <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    <% }); %>
                                </ul>

                                <div id="scroll-bar-container"
                                class="fixed flex items-center justify-center bottom-20 right-5 w-[50px] h-[50px] rounded-full bg-sky-600">
                                <div class="flex items-center justify-center">
            
                                    <!-- สำหรับนับถอนหลักแบบตัวเลข -->
                                    <div id="countdown-timer" class="absolute text-xl font-bold text-white">60</div>
            
                                    <!-- Scrool Timeout นับถอนหลังแบบหมุนรอบ -->
                                    <div id="scroll-bar"
                                class="w-[60px] h-[60px] border-gray-800 border-2 rounded-full"></div>
                                </div>
                            </div>
                            
            
                            <div id="popuppoint"
                                class="fixed top-20 left-1/2 transform -translate-x-1/2 bg-green-500 text-white p-4 rounded shadow-md"
                                style="display: none;">
                                
                            </div>
                            </div>
                        </div>
            
                        <!-- Sidebar right -->
                        <div class="w-full md:w-1/3 bg-white p-4 rounded shadow-md">
                            <h2 class="text-lg font-semibold mb-4">คุณอาจชอบรายการเนื้อหาต่อไปนี้</h2>
                            <div class="tages">
                                <div class="mt-1 flex justify-between">
                                    <% if (acticle && acticle.tags && acticle.tags.length> 0) { %>
                                        <h2
                                            class="inline-block rounded-full border-2 mr-2 bg-white mb-2 border-info px-6 text-md font-medium uppercase leading-normal text-info transition duration-150 ease-in-out hover:border-info-600 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-info-600 text-black">
                                            Tags: <% acticle.tags.forEach((tag, index) => { %>
                                                <a class="text-sky-500" href="/tag/<%= tag %>">
                                                    <%= tag %>
                                                </a>
                                                <% if (index < acticle.tags.length - 1) { %>
                                                    ,
                                                <% } %>
                                            <% }); %>
                                        </h2>
                                        <% } else { %>
                                            <h2>Tags: ไม่มีแท็ก</h2>
                                            <% } %>
                                </div>
                            </div>
                            <h3 class="text-2xl font-medium mb-2">อัพเดตล่าสุด</h3>
                            <% recentUpdates.forEach(function(update) { %>
                                <% if (update.published) { %>
                                    <div class="skeleton flex flex-col overflow-hidden gap-4 p-4 border border-gray-200 rounded-lg shadow-sm transition-all mb-5 hover:shadow-md">
                                        <div class="w-full">
                                            <a href="/read/<%= update.url %>?lang=<%= language %>&id=<%= update._id %>">
                                                <div class="relative">
                                                    <img class="w-full h-auto object-cover rounded-md" src="/acticles_images/<%= update.photo %>" alt="<%= update.title %>">
                                                    <p class="views" style="position: absolute; top: 0; left: 0;
                                                    background-color: rgba(255, 255, 255, 0.961); color: #000;
                                                    padding: 5px; border-radius: 10px 0;">การดู <%= formatNumber(update.views) %></p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="w-3/3">
                                            <a href="/read/<%= update.url %>?lang=<%= language %>&id=<%= update._id %>">
                                                <h3 class="text-lg font-medium text-gray-800 mb-2 hover:text-blue-600 transition-colors">
                                                    <%= update.title %>
                                                </h3>
                                            </a>
                                            <p class="text-sm text-gray-600 aspect-w-16 aspect-h-9">
                                                <!-- Add a brief description or excerpt if available -->
                                                <%- update.excerpt || update.content.substring(0, 100) %>...
                                            </p>
                                        </div>
                                    </div>
                                <% } %>
                            <% }); %>
                            
                        </div>
                    </div>
                </div>
            <% } else { %>
                <div class="flex items-center justify-center h-screen">
                    <div class="text-center">
                        <h1 class="text-6xl font-bold text-blue-500">404</h1>
                        <p class="text-xl text-gray-700 mt-4">ขออภัย, หน้าที่คุณกำลังหาไม่พบ</p>
                        <p class="text-gray-500 mt-2">หน้าที่คุณกำลังหาอาจถูกลบด้วยเนื่อกจากลิขสิทธิ์</p>
                        <p class="text-gray-500 mt-2">ลองใช้คำค้นหาใหม่เพื่อค้นหา เนื้อที่คุณต้องการดู</p>
                        <p class="text-gray-500 mt-2">ลหรือเนื้อหานี้อาจถูกปิดแล้ว ด้วยของครีเอเตอร์</p>
                        <div class="mt-6">
                            <a href="/" class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600">กลับไปหน้าแรก</a>
                        </div>
                        <!-- <div class="mt-50 flex justify-center">
                            <img src="https://path-to-your-animation.gif" alt="Not Found Animation" class="w-64 h-64 animate-bounce-slow">
                        </div> -->
                    </div>
                </div>
            <% } %>
        </div>
        </div>

        <%- include('../footer') %>

            
            <script src="/js/pages/loading_datas.js"></script>
            <script src="/js/pages/read.js" defer></script>
            <% if (usersesstion) {%>
                <script>
                    let countdown = 60;
                     let intervalId;

                        function startCountdown() {
                            countdown = 60;
                            intervalId = setInterval(() => {
                                countdown--;
                                updateCountdownUI(countdown);
                                if (countdown <= 0) {
                                    clearInterval(intervalId);
                                    const randomScore = [20, 50, 70, 100, 799, 909, 1000][Math.floor(Math.random() * 7)];
                                    saveScoreToDatabase(randomScore);
                                    showPopupScore(randomScore);
                                    startCountdown();
                                }
                            }, 1000);
                        }

                        window.onbeforeunload = function() {
                            clearInterval(intervalId);
                        };

                    function showPopupScore(score) {
                        const popuppoint = document.getElementById('popuppoint');
                        popuppoint.innerText = `คุณได้รับ ${score} คะแนน!`;
                        popuppoint.style.display = 'block';
                        setTimeout(() => {
                            popuppoint.style.display = 'none';
                        }, 6000); 
                    }
                    function updateCountdownUI(countdown) {
                        document.getElementById('countdown-timer').innerText = countdown;
                    }
                    function saveScoreToDatabase(score) {
                        fetch('/api/score', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ userId: '<%= usersesstion._id %>', score: score })
                        })
                            .then(response => response.json())
                            .then(data => console.log(data))
                            .catch(error => console.error('Error saving score:', error));
                    }

                    startCountdown();
                </script>
            <% } %>
            <script>
                function toggleReplyForm(commentId) {
                    document.getElementById('reply-form-' + commentId).classList.toggle('hidden');
                }
            
                function showAllReplies(commentId) {
                    document.querySelectorAll('#reply-form-' + commentId + ' .reply-box').forEach(box => box.classList.remove('hidden'));
                }
            
                async function likeComment(articleId, commentId) {
                    try {
                        const response = await fetch(`/articles/${articleId}/comments/${commentId}/like`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        });
            
                        if (response.ok) {
                            const data = await response.json();
                            document.getElementById('likes-count-' + commentId).innerText = data.likes;
                        } else {
                            console.error('Failed to like the comment');
                        }
                    } catch (error) {
                        console.error('Error:', error);
                    }
                }
            
                function toggleReplies(commentId) {
                    const replies = document.getElementById('replies-' + commentId);
                    const toggleButton = document.getElementById('toggle-button-' + commentId);
                    if (replies.classList.contains('hidden')) {
                        replies.classList.remove('hidden');
                        toggleButton.innerHTML = '<i class="fa-solid fa-arrow-up-long"></i><span>แสดงความคิดน้อยลง</span>';
                    } else {
                        replies.classList.add('hidden');
                        toggleButton.innerHTML = '<i class="fa-solid fa-arrow-down-long"></i><span>แสดงความคิดเพิ่มเติม</span>';
                    }
                }
            </script>

            <% if (usersesstion) {%>
                <script>
                   const socket = io();

                   document.getElementById('commentForm').addEventListener('submit', async function (event) {
    event.preventDefault();

    const inputcomment = document.getElementById('inputcomment').value;
    const articleId = '<%= acticle._id %>';

    try {
        const response = await fetch(`/replie/read/${articleId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': `Bearer <%= usersesstion.token %>`
            },
            body: JSON.stringify({ inputcomment })
        });

        console.log('Response status:', response.status); // เพิ่มการบันทึกคอนโซล

        if (response.ok) {
            const result = await response.json();
            console.log('Response result:', result);

            showPopup(result.message);
            document.getElementById('inputcomment').value = '';
        } else {
            const errorResult = await response.json();
            console.log('Error result:', errorResult);
            showPopup(errorResult.message || 'An error occurred. Please try again later.');
        }
    } catch (error) {
        console.error('Error during fetch operation:', error);
        showPopup('An error occurred. Please try again later.');
    }
});

socket.on('newComment', (inputcomment) => {
    console.log('Received new comment:', inputcomment); // ตรวจสอบว่าข้อมูลถูกส่งมาถึง client
    outputComment(inputcomment);
})
function outputComment(inputcomment) {
    const outputcomment = document.getElementById('outputcomment');
    console.log('Output comment element:', document.getElementById('outputcomment')); // ตรวจสอบ Element
    const commentHtml = `
        <div class="p-4 bg-white rounded shadow mb-4">
            <div class="flex items-center">
                <img class="w-10 h-10 rounded-full" src="${inputcomment.username.profile}" alt="Comment user">
                <div class="flex flex-col pl-4">
                    <h3 class="font-semibold">@${inputcomment.username.username}</h3>
                    <div class="comtemt-text">
                        ${inputcomment.inputcomment}
                    </div>
                    <div class="flex gap-2 mt-2">
                        <div class="comment__operate__item">
                            <i class="fa-regular fa-thumbs-up"></i> 
                            <span class="text-1xl likes-count">0</span>                                           
                        </div>
                        <div class="comment__operate__item report">
                            <i class="fa-regular fa-flag"></i>
                            <span data-v-a42dab90="">รายงาน</span>
                        </div>
                    </div>
                </div>
            </div>
            <p class="text-gray-600 text-sm mt-2">โพสต์เมื่อ: เพิ่งโพสต์</p>
        </div>
    `;
    outputcomment.insertAdjacentHTML('afterbegin', commentHtml);
}


function showPopup(message) {
    const popup = document.createElement('div');
    popup.className = 'fixed flex items-center justify-center bottom-20 left-1/2 transform -translate-x-1/2 bg-white text-black px-4 py-2 rounded shadow-lg';
    popup.textContent = message;

    document.body.appendChild(popup);

    setTimeout(() => {
        popup.classList.add('opacity-0');
    }, 2000);

    setTimeout(() => {
        document.body.removeChild(popup);
    }, 2500);
}

                </script>
                    
                    
            <% } %>          
</body>

</html>