<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= comic.titlecomic %> | AniNight
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/df26bd9708.js" crossorigin="anonymous"></script>
</head>

<body class="bg-gray-100">
    <%- include('../navnar_Header') %>
    <%- include('../sidebar_Section') %>
    <div class= "mx-auto px-4 xl:max-w-7xl pt-20">
       <div class="mt-8 flex justify-center flex-col items-center bg-white w-full px-6 md:px-12 py-4 shadow-md rounded-md relative">
        <h2 class="text-3xl font-bold mb-4"><%= comic.titlecomic %></h2>
      
        <div class="mt-1 max-w-2xl bg-white text-sm text-gray-500">
            ผลงานโดย: <%= comic.author.username %>
        </div>
        <p class="text-gray-600">หมวดหมู่: <%= comic.categories.join(', ') %></p>
       </div>
        <!-- Chapters -->
        <div class="mx-auto px-4 xl:max-w-3xl">
            <ul class="flex flex-col mb-20 mt-2">
                <% if (chapter && chapter.pages && Array.isArray(chapter.pages)) { %>
                    <div class="bg-white rounded-lg p-2 m-4 items-center flex justify-center sticky top-20">
                        <h2 class="text-2xl font-bold">ตอนที่ <%= chapter.ep %></h2>
                    </div>
                    <% chapter.pages.forEach((page, pageIndex) => { %>
                        <li class="pageorginall">
                            <img src="/comics/<%= page %>" alt="Page <%= pageIndex + 1 %>" class="w-full shadow-md">
                        </li>
                    <% }) %>
                    <% if (nextChapter) { %>
                        <div>
                            <a class="bg-white mt-5 items-center flex justify-center rounded-lg p-2 hover:bg-gray-100" href="/comic/content/<%= comic._id %>/<%= nextChapter.ep %>" class=" text-blue-500 hover:underline">
                                ตอนต่อไป: ตอนที่ <%= nextChapter.ep %>
                            </a>
                        </div>
                    <% } %>
                <% } else { %>
                    <p>No pages available</p>
                <% } %>
            </ul>
            
            
        </div>
        
        
    </div>

    <%- include('../footer') %>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const pages = document.querySelectorAll('.pageorginall');
            pages.forEach(function (page) {
                page.addEventListener('contextmenu', function (event) {
                    event.preventDefault();
                    alert("ไม่สามรถใช้เครื่องมือนี้ได้ เนื่องจากลิขสิทธิ์")
                });
    
                // Attach keydown event listener to each page element
                page.addEventListener('keydown', function (event) {
                    if (event.key === 'F12' || (event.ctrlKey && event.shiftKey && event.key === 'I')) {
                        event.preventDefault();
                        alert("ไม่สามรถใช้เครื่องมือนี้ได้ เนื่องจากลิขสิทธิ์")
                    }
                });
            });
        });
    </script>
    
    
</body>
</html>