<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= acticle.title %>
    </title>
    <link rel="stylesheet" href="../css/pages/read.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/pages/home_Section.css">
    <link rel="shortcut icon" href="/images/logo/Aninight.png" type="image/x-icon">
    <meta name="keyword" content="<%= acticle.title %>">
    <meta name="keyword" content="<%= acticle.categories %>">
    <meta property="og:title" content="<%= acticle.title %>">
    <meta name="description" content="อัตเดตข่าวสารด้านอนิเมะที่คุณชอบ พร้อมเนื้อหาที่มีประโยนช์แ่คุณ!!">
    <meta property="og:image" content="https://ani-night.online/acticles_images/<%= acticle.photo %>">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:site_name" content="ani-night.online">
    <meta property="og:type" content="website">
    <meta name="twitter:description" content="เว็บที่ให้คุณเขียนบทความข่าวสารด้านอนิเมะ และรับรายได้จากค่าโฆษณา">
    <meta name="google-site-verification" content="eyTwMkNmyYZFyV7ag9MuAEh5uOPdc4uZ6ONSM3w5HRI">
    <meta property="og:url" content="https://ani-night.online/read/<%= acticle.url %>">
    <meta name="twitter:title" content="<%= acticle.title %>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <meta name="twitter:image" content="https://www.ani-night.online/acticles_images/<%= acticle.photo %>">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6579807593228261"
        crossorigin="anonymous"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LTJP520FN4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-LTJP520FN4');
    </script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>

<body class="bg-gray-100">
    <%- include('../navnar_Header') %>
    <div class="app max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="container pt-10">
            <div class="loading_container"> 
                <div class="loading-indicator loadingIndicator" id="loadingIndicator">
                    <div class="spinner"></div>
                    <p>กำลังประมวณผลข้อมูล</p>
                </div>
            </div>
            <!-- Main Content -->
            <div class="loading" style="display: none;">
                <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 py-10">
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6579807593228261"
     crossorigin="anonymous"></script>
<!-- ads_home -->
<ins class="adsbygoogle"
     style="display:inline-block;width:900px;height:150px"
     data-ad-client="ca-pub-6579807593228261"
     data-ad-slot="7305022131"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
                    <!-- Post Header -->
                    <div class="bg-white shadow overflow-hidden sm:rounded-lg mb-6">
                        <div class="px-4 py-5 sm:px-6 flex justify-between items-center">
                            <div>
                                 <div class="category text-sm md:text-2xl">
                                <p><a href="/">หน้าหลัก</a><span>&gt;</span>
                                <p class="text-sm md:text-2xl">
                                    <% if (acticle && acticle.title) { %>
                                        <%= acticle.title.substring(0, 40) + '...' %>
                                            <% } else { %>
                                                <%= acticle.title %>
                                                    <% } %>
                                </p>
                                </p>
                            </div>
                                <h1 class="text-sm leading-6 font-bold text-gray-900 md:text-2xl">
                                    <%= acticle.title %>
                                </h1>
                                <p class="mt-1 max-w-2xl text-sm text-gray-500">
                                    เขียนโดย <a href="/editor/<%= acticle.author.username %> "><%= acticle.author.username %> </a> | <%= moment(acticle.createdAt).locale('th').fromNow() %>
                                </p>
                                <div class="mt-1 flex justify-between">
                                    <% if (acticle && acticle.tags && acticle.tags.length > 0) { %>
                                        <h2 class="inline-block rounded-full border-2 mr-2 bg-white mb-2 border-info px-6 text-md font-medium uppercase leading-normal text-info transition duration-150 ease-in-out hover:border-info-600 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-info-600 text-black">
                                            Tags: <% acticle.tags.forEach(tag => { %>
                                                <a class="text-sky-500" href="/tag/<%= tag %>"><%= tag %></a>
                                            <% }); %>
                                        </h2>
                                    <% } else { %>
                                        <h2>Tags: ไม่มีแท็ก</h2>
                                    <% } %>
                                    
                                    <% if (acticle.link_info) { %>
                                        <div class="rounded-full items-center p-1 flex justify-center border-2 mr-2 bg-sky-100 mb-2 border-info px-6 text-md font-medium uppercase leading-normal text-info transition duration-150 ease-in-out">
                                        <button class="text-black"><a href="<%= acticle.link_info %>" target="_blank" rel="noopener noreferrer">ดูรายละเอียนสำหรับเรื่องนี้</a></button>
                                    </div>
                                    <% } %>
                                    <p class="viewsp">
                                        <% function formatNumber(number) { if (number>=
                                            1000000)
                                            {
                                            return (number / 1000000).toFixed(1) + 'm';
                                            } else if (number >= 1000) {
                                            return (number / 1000).toFixed(1) + 'k';
                                            } else {
                                            return number;
                                            }
                                            }
                    
                                            var number1 = 100;
                                            var number2 = 500;
                                            var number3 = 1500;
                                            var number4 = 1200000;
                                            %>
                                            <p class="pl-3 text-sm ">
                                                การดู <%= formatNumber(acticle.views) %> ครั้ง
                                            </p>
                                    </p>
                                </div>
                            </div>
                            <div class="relative flex items-center space-x-2">
                                <button id="copylink" class="bg-sky-500 hover:bg-sky-600 text-white px-3 py-2 rounded-md text-sm font-medium">
                                    แชร์
                                </button>
                                <!-- Popup container -->
                                <div class="absolute top-5 w-[100px] right-4 ml-2 bg-white border border-gray-300 shadow-md rounded-md p-2" style="display: none;"
                                    id="popup">
                                    <span id="popupText">คัดลอกลิงค์แล้ว!</span>
                                </div>
                            </div>
                        </div>
                        <div class="border-t border-gray-200">
                            <img class="w-full h-96 object-contain" src="/acticles_images/<%= acticle.photo %>" alt="Post Image">
                        </div>
                    </div>

                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6579807593228261"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-6579807593228261"
     data-ad-slot="2386038227"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

                    <!-- ADS -->
                    <!-- <div class="bg-white px-4 py-8 mt-[50px] mb-[50px] truncate border border-gray-200 rounded-lg">
                        
                    </div> -->
                    
                    <!-- Post Content -->
                    <div class="bg-white shadow overflow-hidden sm:rounded-lg p-6">
                        <p class="mt-1 max-w-2xl text-sm text-gray-500 border-b-2">
                           หมวดหมู่: <%= acticle.categories %>
                        </p>
                        <div class="text-lg leading-7 text-gray-700">
                            <p class="mb-4"><%- acticle.content %></p>
                        </div>
                    </div>

                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6579807593228261"
                            crossorigin="anonymous"></script>
                        <ins class="adsbygoogle"
                            style="display:block; text-align:center;"
                            data-ad-layout="in-article"
                            data-ad-format="fluid"
                            data-ad-client="ca-pub-6579807593228261"
                            data-ad-slot="3002127657"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    
                    <!-- <section class="mt-8">
                        <h3 class="text-2xl font-semibold mb-4">ความคิดเห็น</h3>
                        <div class="space-y-4">
                            <form class="bg-white rounded-lg shadow-lg p-4">
                                <div class="mb-4">
                                    <label for="comment" class="block text-gray-700 mb-2">แสดงความคิดเห็น</label>
                                    <textarea id="comment" rows="4" class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600" placeholder="เขียนความคิดเห็นของคุณที่นี่"></textarea>
                                </div>
                                <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700">ส่งความคิดเห็น</button>
                            </form>
                            <div class="bg-white rounded-lg shadow-lg p-4">
                                <p class="text-gray-700 mb-2"><strong>ผู้ใช้ C:</strong> ความคิดเห็นของผู้ใช้ C เกี่ยวกับหัวข้อนี้</p>
                                <p class="text-gray-600 text-sm">โพสต์เมื่อ: 2 ชั่วโมงที่แล้ว</p>
                            </div>
                            <div class="bg-white rounded-lg shadow-lg p-4">
                                <p class="text-gray-700 mb-2"><strong>ผู้ใช้ D:</strong> ความคิดเห็นของผู้ใช้ D เกี่ยวกับหัวข้อนี้</p>
                                <p class="text-gray-600 text-sm">โพสต์เมื่อ: 1 วันที่แล้ว</p>
                            </div>
                        </div>
                    </section> -->
                </div>
            </div>
            
        </div>
    </div>

    <%- include('../footer') %>
   

    <script src="/js/pages/loading_datas.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var copyButton = document.getElementById('copylink');
            var popup = document.getElementById('popup');

            copyButton.addEventListener('click', function () {
                var qriyLink = document.createElement('input');
                qriyLink.value = window.location.href;
                document.body.appendChild(qriyLink);
                qriyLink.select();
                document.execCommand('copy');
                document.body.removeChild(qriyLink);

                popup.style.display = 'block'; // แสดง Popup
                setTimeout(function () {
                    popup.style.display = 'none'; // ซ่อน Popup
                }, 2000); // 2 วินาที
            });
        });


    </script>
    <!-- <script>
        document.addEventListener('DOMContentLoaded', function () {
            var descriptionSpan = document.querySelector('.content-full');
            var description = descriptionSpan.textContent.trim();

            var descriptionWithLinks = description.replace(/(https?:\/\/\S+)/g, '<a href="$1" target="_blank" style="color: blue;">$1</a>');
            descriptionSpan.innerHTML = descriptionWithLinks;
        });
    </script> -->
</body>

</html>