<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>มาแรงตอนนี้</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/pages/th/trending.css">
    <link rel="stylesheet" href="./css/acticle.css">
    <link rel="stylesheet" href="./css/sidebar.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="./css/font/font1.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6579807593228261"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" />
    <script type="text/javascript" src="/js/index.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"
        integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
        integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
</head>

<body>
    <%- include('../navnar_Header') %>
    <%- include('../sidebar_Section') %>

    <section class="mx-auto px-4 xl:max-w-7xl ">
        <h2 class="text-xl font-semibold mb-4">มาแรงในตอนนี้</h2>
        <div class="trending-card__title">
            <span class="trending-card__title-text">มาแรงในตอนนี้</span>
        </div>
        <div data-v-7926129b="" class="trending-card__subtitle">ยอดวิวสามารถเปลี่ยนแปลงได้ทุกวัน</div>
        <ul class="space-y-4">
            <% topViewedActicles.forEach((article, index)=> { %>
            <li class="flex items-center bg-gray-800 p-4 rounded-lg">
                <span class="flex text-3xl font-bold text-yellow-400 mr-4"><%= index + 1 %>.</span>
                <a href="/read/<%= article.url %>?lang=<%= language %>">
                    <div>
                        <img src="/acticles_images/<%= article.photo %>" alt=" <%= article.title %>" class="w-24 h-auto rounded-lg float-left mr-4">
                        <p class="text-lg italic text-white"> <%= article.title %></p>
                    </div>
                </a>
            </li>
            <% }) %>
        </ul>
    </section>
    <!-- <section class="trending-container mx-auto px-4 xl:max-w-7xl pt-[120px]" id="trending">
        <div class="trams trending-card__container bg-white px-6 md:px-12 py-8 md:py-12 mt-8 shadow-sm relative">
            
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                <% topViewedActicles.forEach((article, index)=> { %>
                    <ul>
                        <li class="mb-4">
                            <div class="relative">
                                <img class="w-full" src="/acticles_images/<%= article.photo %>" alt="Article Photo">
    
                                <p
                                    class="absolute flex items-center top-0 left-0 bg-orange-300 w-[50px] text-white px-2 py-1">
                                    <%= index + 1 %>
                                </p>
                            </div>
                            <div class="info px-4 py-2">
                                <a href="/read/<%= article.url %>?lang=<%= language %>">
                                    <h2 class="text-lg font-bold mb-2">
                                        <%= article.title %>
                                    </h2>
                                    <div class="views text-gray-500">
                                        <%= article.views %> views
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>
                    <% }) %>
            </div>
        </div>
    </section> -->
    

    <%- include('../footer') %>

        <script src="/js/search.js"></script>
        <script src="/js/sidebar.js"></script>
        <script>

            window.addEventListener('scroll', function () {
                var navbar = document.getElementById('navbar');
                if (window.scrollY > 50) {
                    navbar.classList.add('navbar-white-bg');
                } else {
                    navbar.classList.remove('navbar-white-bg');
                }
            });
        </script>
</body>

</html>