<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= userData.username %>
    </title>
    <link rel="stylesheet" href="../../css/pages/home_Section.css">
    <link rel="stylesheet" href="../../css/font/font1.css">
    <link rel="stylesheet" href="../../css/pages/profile.css">
    <link rel="stylesheet" href="../../css/pages/ch/video.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
    <meta name="keywords" content="บทความอนิเมะ ข่าวบันเท้ง 2024 login เข้าสู่ระบบ">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <%- include('../../../navnar_Header') %>
    <section class="editor mx-auto px-4 xl:max-w-7xl" id="video">
        <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
            <div class="bg-white shadow-md rounded-lg overflow-hidden p-6">
                <div class="banner relative w-full h-40 sm:h-64">
                    <img style="user-select: none;" src="/banner/<%= userData.bannerImagePath %>" alt="<%= userData.name %>" class="w-full rounded-lg h-full object-cover">
                </div>
                <div class="flex flex-col sm:flex-row items-center">
                    <img class="h-24 w-24 rounded-full object-cover" src="/profiles/<%= userData.profile %>" alt="Profile Picture">
                    <div class="mt-4 sm:mt-0 sm:ml-6 text-center sm:text-left">
                        <h1 class="text-2xl font-bold text-gray-900">
                            <%= userData.name %>
                        </h1>
                        <p class="text-sm text-gray-600">@<%= userData.username %>
                        </p>
                        <p class="text-sm text-gray-600">
                            <%= userData.bio %>
                        </p>
                     
                        
                       
                        <div class="mt-4 flex justify-center sm:justify-start space-x-4">
                        <span class="text-sm text-gray-600"><strong><%= userData.followers %>:</strong> ผู้ติดตาม</span>
                        <span class="text-sm text-gray-600"><strong><%= userData.followed %></strong> กำลังติดตาม</span>
                        <!-- <span class="text-sm text-gray-600"><strong>0</strong> Likes</span> -->
                    </div>
                    <!-- <button class="mt-4 bg-indigo-600 text-white px-4 py-2 rounded-md">Follow</button> -->

                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================
        Menus Editor ==================================== -->
        <div
            class=" text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
            <ul class="navbar_profile flex flex-wrap -mb-px">
                <li class="me-2 categoryButton">
                    <a href="/editor/<%= userData.username %>"
                        class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-700 dark:hover:text-gray-700">หน้าหลัก</a>
                </li>
                <li class="me-2 categoryButton">
                    <a href="/editor/<%= userData.username %>/video"
                        class="inline-block p-4 border-b-2 text-sky-500 border-b-2 border-sky-500 rounded-t-lg hover:text-gray-600 hover:border-gray-700 dark:hover:text-gray-700"
                        aria-current="page">วีดีโอ</a>
                </li>
                <li class="me-2 categoryButton">
                    <a href="/editor/<%= userData.username %>/anishots"
                        class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-700 dark:hover:text-gray-700"
                        aria-current="page">Anishots</a>
                </li>
            </ul>
        </div>
        <!-- ===================================
            content Editor ========================= -->

           
            <div class="mx-auto p-4">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
                    <% if (userData.videos.length> 0) { %>
                        <% userData.videos.forEach(item=> { %>
                    <div class="bg-white shadow rounded overflow-hidden">
                        <a href="/play/<%= item.videoid %>" target="_blank" rel="noopener noreferrer">
                            <img src="/cover_videos/<%= item.coverImage %>" alt="Thumbnail" class="w-full h-48 object-cover">
                            <div class="p-4">
                                <h3 class="text-lg font-semibold mb-2"><%= item.name %></h3>
                                <p class="text-sm text-gray-600"> <%= item.views %> วิว • <%= moment(item.createdAt).format('YYYY-MM-DD HH:mm:ss') %> ที่ผ่านมา</p>
                            </div>
                        </a>
                        
                    </div>
                    <% }); %>
                    <% } else { %>
                        <p style="text-align: center;">ครีเอเตอร์นี้ยังไม่มีวีดีโอ..</p>
                        <% } %>
                    <!-- Repeat the above div for more videos -->
                </div>
            </div>
                   
        </div>
    </section>
    <script>
        const videos = document.querySelectorAll('video'); // เลือกวีดีโอทั้งหมด

        // วน loop ผ่านทุก video element
        videos.forEach(video => {
            // เลือก span duration ภายในแต่ละ video
            const durationSpan = video.parentElement.querySelector('.duration');

            // ตรวจสอบว่ามี .duration อยู่ภายใน video หรือไม่
            if (durationSpan) {
                // Load video duration
                video.addEventListener("loadeddata", (e) => {
                    let videoDuration = e.target.duration;
                    let totalMin = Math.floor(videoDuration / 60);
                    let totalSec = Math.floor(videoDuration % 60);

                    // if seconds are less then 10 then add 0 at the beginning
                    totalSec = totalSec < 10 ? "0" + totalSec : totalSec;

                    // แสดงผลลัพธ์ใน span duration ที่เกี่ยวข้องกับวีดีโอนี้
                    durationSpan.textContent = `${totalMin}:${totalSec}`;
                });
            }
        });
    </script>


</body>

</html>