<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>เนื้อหาวีดีโอ</title>
    <meta name="keyword" content="วีดีโอข่าวอนิเมะ และตัวอย่าง PV เกี่ยวกับอนิเมะ">
    <meta name="keyword" content="แพลตฟอร์มรวบรวมข่าวและอนิเมะในวงการ และรับค่าตอบแทนจากเนื้อหาของคุณ">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/pages/home_Section.css">
    <link rel="stylesheet" href="./css/pages/uploads/video.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6579807593228261"
     crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/pages/videos.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>
    <%- include('../../navnar_Header') %>
    <%- include('../../sidebar_Section') %>

    <section class="content">
        <div class="loading_container">
            <div class="loading-indicator loadingIndicator" id="loadingIndicator">
                <div class="spinner"></div>
            </div>
            <p>กำลังประมวณผลข้อมูล</p>
            <p>ยังไม่พร้อมให้บริการหน้านี้</p>
        </div>
        <div class="loading" style="display: none;">
            <div class="container">
                <div class="videos">
                    <% if (paginatedVideos.length > 0) { %>
                        <% for (const video of paginatedVideos) { %>
                            <div class="post-video">
                                <a href="/play/<%= video.videoid %>" target="_blank">
                                    <div class="pic-image-video">
                                        <video id="video_<%= video.videoid %>" class="video" src="/videos/<%= video.filePath %>.mp4" volume="0.2" loop></video>
                                        <div class="video-overlay"></div>
                                        <p class="time"><i class="bi bi-eye-fill"></i> การดู : <%= video.views %></p>
                                    </div>
                                    <h2 class="title-video"><%= video.name %></h2>
                                </a>
                            </div> 
                        <% } %>
                    <% } else { %>
                        <p>ไม่มีวีดีโอในขณะนี้.</p>
                    <% } %>
                   
                    <!-- <div class="video">
                        <div class="pic_phoho">
                            <img src="/images/demo.jpg" alt="">
                            <span class="time">9:00</span>
                        </div>
                        <div class="text_video">
                            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, impedit.</h2>
                            <p class="views">0 วิว</p>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </section>

    <script src="./js/pages/script_Section.js"></script>

    <script src="./js/video.js"></script> 
        <script>
            window.addEventListener('scroll', function () {
                var navbar = document.getElementById('navbar');
                if (window.scrollY > 50) {
                    navbar.classList.add('navbar-white-bg');
                } else {
                    navbar.classList.remove('navbar-white-bg');
                }
            });
    
        </script>
        <script>
            let currentVideo = null;

            function playVideo(videoId) {
                const video = document.getElementById(videoId);

                if (currentVideo && currentVideo !== video) {
                    currentVideo.pause();
                    currentVideo.currentTime = 0;
                }

                video.play();
                video.volume = 0.2;
                currentVideo = video;
            }

            document.querySelectorAll('.video').forEach(video => {
                video.volume = 0.3;
                video.addEventListener('mouseover', () => {
                    playVideo(video.id);
                });
            });

         // Blob URL video
    document.querySelectorAll('video').forEach(video => {
        const videoUrl = video.src;
        if (videoUrl.startsWith('blob:')) return;
        const xhr = new XMLHttpRequest();
        xhr.open('GET', videoUrl);
        xhr.responseType = 'arraybuffer';
        xhr.onload = () => {
            const blob = new Blob([xhr.response]);
            const url = URL.createObjectURL(blob);
            video.src = url;
        };
        xhr.send();
    });

        </script>
</body>

</html>