<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ani Night</title>
    <meta name="google" content="notranslate">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta name="theme-color" content="#00bbff">
    <meta property="og:site_name" content="Ani-night.online">
    <meta property="og:type" content="website">
    <meta name="title" content="Ani Night" />
    <meta name="description"
        content="เว็บที่ให้คุณเขียนบทความข่าวสารด้านอนิเมะ และรับรายได้จากค่าโฆษณา พร้อมกับข่าวข่ารอนิเมะที่อัตเดตใหม่ล่าสุด!! " />
    <link rel="shortcut icon" href="/images/logo/Aninight.png" type="image/x-icon">

    <!-- link CSS -->
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/pages/slideshow_Section.css">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ani-night.online/" />
    <meta property="og:title" content="Ani Night" />
    <meta property="og:description"
        content="เว็บที่ให้คุณเขียนบทความข่าวสารด้านอนิเมะ และรับรายได้จากค่าโฆษณา พร้อมกับข่าวข่ารอนิเมะที่อัตเดตใหม่ล่าสุด!! " />
    <meta property="og:image" content="https://m1r.ai/tzie3.jpg" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://ani-night.online/" />
    <meta property="twitter:title" content="Ani Night" />
    <meta property="twitter:description"
        content="เว็บที่ให้คุณเขียนบทความข่าวสารด้านอนิเมะ และรับรายได้จากค่าโฆษณา พร้อมกับข่าวข่ารอนิเมะที่อัตเดตใหม่ล่าสุด!! " />
    <meta property="twitter:image" content="https://m1r.ai/tzie3.jpg" />

    <!-- <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <meta name="twitter:description" content="เว็บที่ให้คุณเขียนบทความข่าวสารด้านอนิเมะ และรับรายได้จากค่าโฆษณา">
    <meta name="google-site-verification" content="eyTwMkNmyYZFyV7ag9MuAEh5uOPdc4uZ6ONSM3w5HRI">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6579807593228261"
        crossorigin="anonymous"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LTJP520FN4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-LTJP520FN4');
    </script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<style>
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hide {
        -ms-overflow-style: none; 
        scrollbar-width: none; 
    }
</style>
<body class="bg-gray-50">
    <%- include('./navnar_Header') %>

        <div class="aninime_banner pt-20">
            <div class="banner">
                <div class="slideshow-container">
                    <div class="mySlides fade">
                        <a href="/animeboard" title="เซ็คลิตล์อนิเมะ 2024" data-title="Animelists">
                            <img src="https://m1r.ai/8gsg5.jpg" alt="Slide 1">
                        </a>
                    </div>
                    <div class="mySlides fade">
                        <a href="#" title="ads" data-title="Animelists">
                            <img src="https://m1r.ai/ofmm4.jpg" alt="Slide 2">
                        </a>
                    </div>

                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
            </div>
        </div>

        

        <div class="sectionlist mx-auto px-4 xl:max-w-7xl">
            <!-- Ads Home -->
            <script async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6579807593228261"
                crossorigin="anonymous"></script>
            <!-- Ani Night -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6579807593228261"
                data-ad-slot="9626337250" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <div class="text-center loadingIndicator">
                <div role="status">
                    <svg aria-hidden="true"
                        class="inline w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-cyan-500"
                        viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                            fill="currentColor" />
                        <path
                            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                            fill="currentFill" />
                    </svg>
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="loading" style="display: none;">
                <div class="container mx-auto px-4 py-8">
                    <div class="mt-6 text-left">
                        <h1 class="text-2xl font-bold mb-6">อนิเมะเดือนนี้</h1>
                    </div>
                    <div class="mt-6 text-right">
                        <a href="/animeboard" class="text-blue-500 hover:underline">ดูทั้งหมด</a>
                    </div>
                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-6">
                        <% if (AnimeBordData && AnimeBordData.length> 0) { %>
                            <% AnimeBordData.forEach(item=> { %>
                                <% if (item.animeJune && item.animeJune.length> 0) { %>
                                    <% item.animeJune.forEach(anime=> { %> 
                                 <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                                     <img src="<%= anime.linkImage %>" alt="<%= anime.nameAnime %>" class="w-full h-56 object-cover">
                                  <div class="p-4">
                                    <h2 class="text-lg font-semibold"><%= anime.nameAnime %></h2>
                                 </div>
                             </div>
                        <% }); %>
                        <% } else { %>
                            <p style="text-align: center;">ไม่มีข้อมูล เดือนพฤษภาคม สำหรับ AnimeBord นี้</p>
                        <% } %>
                      <% }); %>
                          <% } else { %>
                              <p style="text-align: center;">ไม่มีข้อมูล AnimeBord</p>
                         <% } %>
                    </div>
                </div>
            </div>

            <div class="header_articles flex justify-between mt-2 mb-2">
                <h2 class="text-2xl">บทความ</h2>
                <button class="bg-gray-300 p-2 rounded-full"><a href="/articles">ดูทั้งหมด</a></button>
            </div>
            <div class="text-center loadingIndicator">
                <div role="status">
                    <svg aria-hidden="true"
                        class="inline w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-cyan-500"
                        viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                            fill="currentColor" />
                        <path
                            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                            fill="currentFill" />
                    </svg>
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="loading" style="display: none;">
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
                    <!-- Blog Post 1 -->
                    <% acticles_Bors.forEach((article)=> { %>
                    <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                        <a href="/read/<%= article.url %>?lang=<%= language %>">
                            <img class="w-full h-48 object-cover" src="/acticles_images/<%= article.photo %>" alt="Post Image">
                            <div class="p-6">
                                <h2 class="text-2xl font-bold mb-2 text-gray-800">  <%= article.title %></h2>
                                <% if (article.author && article.author.id) { %>
                                <div class="flex items-center">
                                    <img class="w-10 h-10 rounded-full mr-4" src="/profiles/<%= article.author.id.profile %>"
                                        alt="Author Image">
                                    <div class="text-sm">
                                        <p class="text-gray-900 leading-none"><a href="/editor/<%= article.author.id.username %>"><%= article.author.id.username %></a></p>
                                        <p class="text-gray-600"><%= moment(article.createdAt).format('YYYY-MM-DD HH:mm:ss') %></p>
                                    </div>
                                </div>
                                <% } else { %>
                                    <p>Author: ไม่พบผู้เขียน</p>
                            <% } %>
                            </div>
                        </a>
                    </div>
                    <% }) %>
                    <!-- More blog posts can be added here in the same format -->
                </div>
            </div>

            <!-- Video News Updates -->
            <div class="herder__news--update__videos flex justify-between mt-2 mb-2">
                <h2 class="text-2xl font-bold">ข่าวอัตเดตอนิเมะ</h2>
                <a class="bg-gray-100 p-2 rounded-full" href="/foryou" target="_blank"
                    rel="noopener noreferrer">ทั้งหมด</a>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
                <!-- Blog Post 1 -->
                <% if (videos.length> 0) { %>
                    <% videos.forEach(video=> { %>
                <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                    <a href="/play/<%= video.videoid %>">
                        <img class="w-full h-48 object-cover" src="/cover_videos/<%= video.coverImage %>" alt="Video Image">
                        <div class="p-6">
                            <h2 class="text-2xl font-bold mb-2 text-gray-800">  <%= video.name %></h2>
                            <p><%- video.views %> วิว</p>
                            <% if (video.author && video.author.id) { %>
                            <div class="flex items-center">
                                <img class="w-10 h-10 rounded-full mr-4" src="/profiles/<%= video.author.id.profile %>"
                                    alt="Author Image">
                                <div class="text-sm">
                                    <p class="text-gray-900 leading-none"><a href="/editor/<%= video.author.id.username %>"><%= video.author.id.username %></a></p>
                                    <p class="text-gray-600"><%= moment(video.createdAt).format('YYYY-MM-DD HH:mm:ss') %></p>
                                </div>
                            </div>
                            <% } else { %>
                                <p>Author: ไม่พบผู้เขียน</p>
                        <% } %>
                        </div>
                    </a>
                </div>
                <% }) %>
                <% } else { %>
                 <p>ไม่พบข่าวอนิเมะ</p>
                <% } %>
                <!-- More blog posts can be added here in the same format -->
            </div>
        </div>

        <%- include('./footer') %>

            <script src="/js/imagesi.js"></script>
            <script src="/js/pages/loading_datas.js"></script>
            <script>
                console.log("%cหยุดการใช้ Dev Tools หากไม่ได้รับอนุญาต", "font-size: 74px; color: red;");

            </script>
            <script>
                window.addEventListener('resize', () => {
                    const screenWidth = window.innerWidth;
                    if (screenWidth >= 480) {
                        const mobileElements = document.querySelectorAll(".mobile");
                        mobileElements.forEach(mobiles => {
                            mobiles.classList.add("grid-cols-2");
                        });
                    }
                    // if (screenWidth <= 480) {
                    //     const itemcard = document.querySelectorAll(".itemcard");
                    //     itemcard.forEach(item => {
                    //         item.classList.add("w-[100px]")
                    //     })
                    // }
                });
            </script>

<script>
    const scrollContainer = document.getElementById('category-container');
    const scrollLeft = document.getElementById('scroll-left');
    const scrollRight = document.getElementById('scroll-right');

    scrollLeft.addEventListener('click', () => {
        scrollContainer.scrollBy({
            left: -200,
            behavior: 'smooth'
        });
    });

    scrollRight.addEventListener('click', () => {
        scrollContainer.scrollBy({
            left: 200,
            behavior: 'smooth'
        });
    });
</script>
</body>

</html>