<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ani Night</title>
    <meta name="google" content="notranslate">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:site_name" content="Ani-night.online">
    <meta property="og:type" content="website">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <meta name="twitter:description" content="เว็บที่ให้คุณเขียนบทความข่าวสารด้านอนิเมะ และรับรายได้จากค่าโฆษณา">
    <meta name="google-site-verification" content="eyTwMkNmyYZFyV7ag9MuAEh5uOPdc4uZ6ONSM3w5HRI">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6579807593228261"
        crossorigin="anonymous"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LTJP520FN4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-LTJP520FN4');
    </script>
    <!-- <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"> -->
    <!-- <link rel="stylesheet" href="./css/index.css"> -->
    <!-- <link rel="stylesheet" href="./css/indexv2.css"> -->
    <link rel="stylesheet" href="./css/acticle.css">
    <link rel="stylesheet" href="./css/footer.css">
    <!-- <link rel="stylesheet" href="./css/pages/manga.css"> -->
    <link rel="stylesheet" href="./css/pages/home.css">
    <link rel="stylesheet" href="./css/font/font1.css">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- <link rel="stylesheet" href="./css/acticle.css"> -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" />
    <script type="text/javascript" src="/js/index.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"
        integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
        integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</head>

<body>
    <div class="fixed inset-x-0 z-20 md:none" id="navbar">
        <%- include('./navbar') %>
    </div>

    <section class="home editor mx-auto px-4 xl:max-w-7xl pt-[110px]">
        <h2 class="text-3xl mb-6 border-l-4 border-sky-600 px-5 text-gray-600">มาใหม่</h2>
        <div class="articles">
            <% acticles_Bors.forEach((article) => { %>
                <div class="article">
                    <a href="/read/<%= article.url %>?lang=<%= language %>">
                        <div class="pic-article">
                            <img src="/acticles_images/<%= article.photo %>" alt="article-pic">
                        </div>
                        <div class="title-article">
                            <h2><%= article.title %></h2>
                        </div>
                        <% if (article.author && article.author.id) { %>
                            <div class="ch">
                                <div class="profile-logo">
                                    <a href="/editor/<%= article.author.id.username %>">
                                        <img src="/profiles/<%= article.author.id.profile %>" alt="">
                                    </a>
                                </div>
                               <div class="ch-text">
                                <a href="/editor/<%= article.author.id.username %>">
                                    <h2><%= article.author.id.username %></h2>
                                </a>
                               </div>
                            </div>
                            <% } else { %>
                                <p>Author: ไม่พบผู้เขียน</p> 
                            <% } %>  
                        <div class="views">
                            <%= article.views %> views
                        </div>
                    </a>
                </div>
            <% }) %>
        </div>
        <div class="patgs">
            <h2>เลือกหน้าต่อไป</h2>
            <div class="pagination">
                <% if (prevPage) { %>
                <a href="/?page=<%= prevPage %>"
                    class="bg-blue-500 text-white rounded p-2 mx-1 hover:bg-blue-600 transition duration-300"
                    ><span class="material-symbols-outlined">
                        keyboard_double_arrow_left
                    </span></a>
                <% } %>
                <% for (let i = 1; i <= lastPage; i++) { %>
                    <a 
                    class="bg-blue-500 text-white rounded p-2 mx-1 hover:bg-blue-600 transition duration-300"
                    href="/?page=<%= i %>"><%= i %></a>
                <% } %>

                <% if (nextPage) { %>
                    <a href="/?page=<%= nextPage %>"
                        class="bg-blue-500 text-white rounded p-2 mx-1 hover:bg-blue-600 transition duration-300"><span class="material-symbols-outlined">
                        double_arrow
                    </span></a>
                <% } %>
            </div>
        </div>
    </section>

    <!-- <section class="manga mx-auto px-4 xl:max-w-7xl" id="manga">
        <div class="manga_header">
            <h2 class="text-3xl mb-6 border-l-4 border-sky-600 px-5 text-gray-600">บทความมาใหม่</h2>
        </div>
        <div class="mangas_update bg-white px-6 md:px-12 py-8 md:py-12 mt-8 shadow-sm relative">
            <% acticles_Bors.forEach((article) => { %>
            <div class="manga_update">
                <div class="manga_pic">
                    <img src="/acticles_images/<%= article.photo %>"
                        alt="https://ani-night.online/acticles_images/<%= article.photo %>">
                </div>
                <div class="manga_text">
                    <h3></h3>
                </div>
                <% if (article.author && article.author.id) { %>
                    <div class="ch">
                        <div class="profile-logo">
                            <a href="/editor/<%= article.author.id.username %>">
                                <img src="/profiles/<%= article.author.id.profile %>" alt="">
                            </a>
                        </div>
                        <a href="/editor/<%= article.author.id.username %>">
                            <h2><%= article.author.id.username %></h2>
                        </a>
                    </div>
                    <% } else { %>
                        <p>Author: ไม่พบผู้เขียน</p> 
                    <% } %>  
                <div class="btn-read">
                    <a href="/read/<%= article.url %>?lang=<%= language %>">อ่าน</a>
                </div>
            </div>
            <% }) %>

        </div>

        
    </section> -->

    <%- include('footer') %>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper('.home-slider', {
            loop: true,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });

        window.addEventListener('scroll', function () {
            var navbar = document.getElementById('navbar');
            if (window.scrollY > 50) {
                navbar.classList.add('navbar-white-bg');
            } else {
                navbar.classList.remove('navbar-white-bg');
            }
        });

    </script>
     <% if (typeof alertMessageVideo !=='undefined' && alertMessageVideo ) { %>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                Swal.fire({
                    icon: 'success',
                    title: '<%= alertMessageVideo %>',
                });
            });
        </script>
        <% } %>
</body>

</html>