<nav class="bg-white border-b border-gray-200 shadow-sm fixed w-full z-20">
    <div class="container mx-auto px-4 flex justify-between items-center h-16">
        <!-- Logo -->
        <a href="/" class="flex items-center space-x-2">
            <img src="/images/logo/Aninight.png" alt="Logo" class="h-8 w-8">
            <span class="text-lg font-semibold text-gray-700">ANINIGHT</span>
        </a>

        <!-- Menu Toggle Button for Mobile -->
        <div class="md:hidden">
            <button id="openmenu">
                <svg fill='none' stroke='currentColor' strokeLinecap='round' strokeLinejoin='round'
                    viewBox='0 0 24 24' class='w-6 h-6'>
                    <path d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </button>
        </div>
         <!-- Mobile Menu -->
         <div id="munuscard" class="md:hidden absolute top-20 w-full bg-white border-t border-gray-200 shadow-sm" style="display: none;">
            <div class="flex flex-col p-2 md:hidden">
                <a href="/"class="block px-4 py-2 rounded-md text-gray-800 hover:bg-gray-200">หน้าหลัก</a>
                <a href="/search" class="block px-4 py-2 rounded-md text-gray-800 hover:bg-gray-200">🔍 ค้นหา</a>
                <a href="/browse/anime" class="block px-4 py-2 rounded-md text-gray-800 hover:bg-gray-200">🖐🏻 อนิเมะ</a>
                <a href="/trending" class="block px-4 py-2 rounded-md text-gray-800 hover:bg-gray-200">มาแรง</a>
                <a href="/categories" class="block px-4 py-2 rounded-md text-gray-800 hover:bg-gray-200">หมวดหมู่</a>
                <a href="/forums" class="block px-4 py-2 rounded-md text-gray-800 hover:bg-gray-200">ฟอรัม</a>
                <a href="/articles" class="block px-4 py-2 rounded-md text-gray-800 hover:bg-gray-200">บทความ</a>
                <% if (!usersesstion) { %>
                    <a href="/login" class="block px-4 py-2 rounded-md text-gray-800 hover:bg-gray-200">เข้าสู่ระบบ</a>
                <% } %>
                <% if (usersesstion) { %>
                    <div class="border-t border-gray-200 mt-2 pt-2">
                        <a href="/<%= usersesstion.url %>" class="py-2 px-4 bg-white rounded-md transition duration-300 ease-in-out hover:bg-black hover:text-white">โปรไฟล์</a>
                        <a href="/upload_acticle" class="py-2 px-4 bg-white rounded-md transition duration-300 ease-in-out hover:bg-black hover:text-white">เขียน</a>
                    </div>
                <% } %>
            </div>
        </div>
        <!-- Nav Links and Icons -->
        <div class="hidden md:flex items-center space-x-4">
            <a href="/" class="text-gray-700 hover:text-blue-500">หน้าหลัก</a>
            <a href="/trending" class="block text-gray-700 hover:text-blue-500">มาแรง</a>
            <a href="/forums" class="block text-gray-700 hover:text-blue-500">ฟอรัม</a>
            <div class="relative group">
                <a href="/" class="block text-gray-700 hover:text-blue-500">
                    🔍 ค้นหา
                </a>
                <div class="absolute hidden group-hover:block bg-white shadow-lg mt-1 py-2 rounded-lg w-48 border border-gray-300 shadow-lg">
                    <a href="/browse/anime" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">🖐🏻 อนิเมะ</a>
                    <a href="/search" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">ค้นหา</a>
                    <a href="/categories" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">หมวดหมู่</a>
                    <a href="/articles" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">บทความ</a>
                    <% if (!usersesstion) { %>
                        <a href="/login" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">เข้าสู่ระบบ</a>
                        <% } %>
                            <% if (usersesstion) { %>
                                <a href="/upload_acticle"
                                    class="block px-4 py-2 text-gray-800 hover:bg-gray-200">เขียน</a>
                                <% } %>
                </div>
            </div>
            <% if (!usersesstion) { %>
                <a href="/login" class="block px-4 py-2 text-gray-800 bg-red-500 text-white rounded-lg hover:bg-red-600">เข้าสู่ระบบ</a>
                <% } %>

                            <!-- Profile Dropdown -->
                            <div class="relative group">
                                <button class="focus:outline-none">
                                    <% if (usersesstion) { %>
                                        <a href="/<%= usersesstion.url %>">
                                            <img class="w-9 h-9 rounded-full border-2 border-gray-300 cursor-pointer"
                                                src="/profiles/<%= usersesstion.profile %>" alt="User Avatar">
                                        </a>
                                        <% } %>
                                </button>
                                <% if (usersesstion) { %>
                                    <!-- เมนูการ์ด -->
                                    <div
                                        class="absolute right-1 transform hidden group-hover:block w-64 p-4 bg-white border border-gray-300 rounded-lg shadow-lg z-10">
                                        <div class="flex items-center">
                                            <img src="/profiles/<%= usersesstion.profile %>" alt="Profile Picture"
                                                class="w-12 h-12 rounded-full border-2 border-gray-300">
                                            <div class="ml-3">
                                                <h3 class="text-lg text-black font-semibold">
                                                    <%= usersesstion.name %>
                                                </h3>
                                                <p class="text-gray-500">@<%= usersesstion.username %>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="mt-4">
                                            <p class="text-sm text-gray-700">
                                                <%= usersesstion.bio %>.
                                            </p>
                                        </div>
                                        <div class="mt-4">
                                            <ul class="list-none">
                                                <li class="py-1"><a
                                                        href="/<%= usersesstion.url %>"
                                                        class="block text-gray-700 rounded-lg p-2 hover:bg-gray-100">
                                                        <%= usersesstion.username %>
                                                    </a></li>
                                                <div class="relative">
                                                    <li class="py-1"><a href="#"
                                                            class="block text-gray-700 rounded-lg p-2 hover:bg-gray-100">การแจ้งเตือน</a>
                                                    </li>
                                                    <span
                                                        class="absolute right-0 top-0 bg-red-500 text-white px-1 rounded-full">0</span>
                                                </div>
                                                <!-- <ul
                                                    class="absolute right-full top-40 mt-0 ml-2 hidden group-hover:block w-40 bg-white border border-gray-300 rounded-lg shadow-lg"> -->
                                                    <!-- header card -->
                                                    <!-- <div class="border-b-2 p-2">
                                                        <h3 class="text-lg font-bold text-black">การแจ้งเตือน</h3>
                                                    </div> -->
                                                    <!-- <li class="py-1 px-2"><a href="#" class="text-gray-700 hover:text-blue-500">Notification 1</a></li>
                                <li class="py-1 px-2"><a href="#" class="text-gray-700 hover:text-blue-500">Notification 2</a></li>
                                <li class="py-1 px-2"><a href="#" class="text-gray-700 hover:text-blue-500">Notification 3</a></li> -->
                                                <!-- </ul> -->
                                                <li class="py-1"><a href="#"
                                                        class="block text-gray-700 rounded-lg p-2 hover:bg-gray-100">ออกจากระบบ</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="mt-4 border-t-2 p-2 flex items-center">
                                            <h2 class="text-black">เปลี่ยนโหมด</h2>
                                            <div class=" mx-auto p-4">
                                                <div class="flex justify-end">
                                                    <label for="theme-toggle"
                                                        class="inline-flex items-center cursor-pointer">
                                                        <div class="relative">
                                                            <input type="checkbox" id="theme-toggle" class="sr-only">
                                                            <div class="block-dack bg-gray-100 w-14 h-8 rounded-full">
                                                            </div>
                                                            <div
                                                                class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition transform">
                                                            </div>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
        </div>
</nav>

         

<style>
    .menu-hidden {
        display: none;
    }

    .menu-visible {
        display: block;
    }

    ::-webkit-scrollbar {
        width: 6px;
    }

    .activemenu {
        border-bottom: 3px solid #000;
        color: #000;
        font-weight: bold;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 4px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
</style>
<script>
const Btntogger = document.getElementById('openmenu');
const menus_scr = document.getElementById('munuscard');
let Openmunu = false;

Btntogger.addEventListener('click', () => {
    Openmunu = !Openmunu;
    if (Openmunu) {
        menus_scr.style.display = 'block';
        Btntogger.innerHTML = `<svg fill='none' stroke='currentColor' strokeLinecap='round' strokeLinejoin='round'
                viewBox='0 0 24 24' class='w-6 h-6'>
                <path d="M6 18L18 6M6 6l12 12"></path>
            </svg>`;
    } else {
        menus_scr.style.display = 'none';
        Btntogger.innerHTML = `<svg fill='none' stroke='currentColor' strokeLinecap='round' strokeLinejoin='round'
                viewBox='0 0 24 24' class='w-6 h-6'>
                <path d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>`;
    }
});

</script>


<script>
    const themeToggle = document.getElementById('theme-toggle');
    const body = document.body;

    // Load theme from localStorage
    const currentTheme = localStorage.getItem('theme') || 'light';
    if (currentTheme === 'dark') {
        body.classList.add('bg-black', 'text-white');
        body.classList.remove('bg-white', 'text-black');
        themeToggle.checked = true;
        document.querySelector('.dot').classList.add('translate-x-full', 'bg-white');
        document.querySelector('.block-dack').classList.add('bg-green-500');
    }

    themeToggle.addEventListener('change', () => {
        if (themeToggle.checked) {
            body.classList.add('bg-black', 'text-white');
            body.classList.remove('bg-white', 'text-black');
            localStorage.setItem('theme', 'dark');
            document.querySelector('.dot').classList.add('translate-x-full', 'bg-white');
            document.querySelector('.block-dack').classList.add('bg-green-500');
            document.querySelector('.block-dack').classList.remove('bg-gray-100');
        } else {
            body.classList.add('bg-gray.100', 'text-white');
            body.classList.remove('bg-black', 'text-white');
            localStorage.setItem('theme', 'light');
            document.querySelector('.dot').classList.remove('translate-x-full', 'bg-black');
            document.querySelector('.block-dack').classList.add('bg-gray-100');
            document.querySelector('.block-dack').classList.remove('bg-green-500');
        }
    });
</script>