<div class="sidebarlet" id="sidebarlet">
    <!-- <div class="toggerlet" id="toggleBtn">
        <i onclick="toggleSidebar()" class="fa-solid fa-bars"></i>
    </div> -->
    <div class="logo">
        <img src="images/logomoblie.png" alt="" width="60px">
    </div>
    <ul class="menu_sidebar">
        <% if (!usersesstion) { %>
        <a class="nohover" href="/profile">
            <li class="profile_home">
                <i class="fa-solid fa-user"></i>
                <span>User</span>
            </li>
        </a>
        <% } else { %>
            <a class="nohover" href="//<%= usersesstion.url %>?tokenlogin=<%= usersesstion.accessToken%>">
                <li class="profile_home">
                    <img src="/profiles/<%= usersesstion.profile %>" alt="">
                    <span> <%= usersesstion.username %></span>
                </li>
            </a>
            <% } %>

        <a href="/acticle">
            <li>
                <i class="fa-solid fa-file"></i>
                <span>บทความ</span>
            </li>
        </a>


        <a href="/trending">
            <li>
                <i class="fa-solid fa-filter"></i>
                <span>มาแรง</span>
            </li>
        </a>
        <a href="/animeboard">
            <li>
                <i class="fa-solid fa-bookmark"></i>
                <span>ศูนย์อนิเมะ</span>
            </li>
        </a>

        <a href="/search">
            <li>
                <i class="fa-solid fa-magnifying-glass"></i>
                <span>ค้นหา</span>
            </li>
        </a>
        <% if (!usersesstion) { %>
            <a class="login-btn" href="/login" >
                <li>
                    <i class="fa-solid fa-right-to-bracket"></i>
                    <span>เข้าสู่ระบบ</span>
                </li>
            </a>
            <% } else { %>
            
        <a href="/upload_acticle?tokenlogin=<%= usersesstion.accessToken%>">
            <li>
                <i class="fa-solid fa-upload"></i>
                <span>อัพโหลดบทความ</span>
            </li>
        </a>
        <% } %>
    </ul>
</div>