<% forums.forEach(forum => { %>
    <% const totalReplies = forum.replies.length; %>
    <div id="reply-modal-<%= forum._id %>" class="modals fixed  flex justify-center z-50 opacity-0 pointer-events-none">
        <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>
        <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
            <div class="modal-close absolute bg-black p-4 rounded-full top-0 right-0 mt-4 mr-4 cursor-pointer" data-modal-close="reply-modal-<%= forum._id %>">
                <svg class="w-6 h-6 text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
            </div>
            <div class="modal-content py-4 text-left px-6">
                <div class="flex justify-between items-center pb-3 border-b-2">
                    <h2 class="text-2xl font-bold">ข้อความตอบกลับ: <%= totalReplies %></h2>
                </div>
                <% if (totalReplies > 0) { %>
                    <ul class="mt-4">
                        <% forum.replies.forEach(reply => { %>
                            <li class="border-l p-2 flex content-center bg-gray-200 rounded-lg mt-2 mb-2">
                                <div class="flex items-center">
                                    <a href="/editor/<%= reply.username %>" target="_blank" rel="noopener noreferrer">
                                        <img src="/profiles/<%= reply.profile %>" alt="profile" class="w-10 h-10 rounded-full">
                                    </a>
                                    <div class="pl-4">
                                        <h3 class="text-sm font-semibold"><%= reply.username %></h3>
                                        <p class="text-sm text-gray-600"><%= reply.content %></p>
                                        <p class="text-xs text-gray-400"><%= moment(reply.createdAt).locale('th').fromNow() %></p>
                                    </div>
                                </div>
                            </li>
                        <% }); %>
                    </ul>
                <% } else { %>
                    <p class="text-center text-gray-500 mt-4">ไม่มีข้อความตอบกลับ</p>
                <% } %>
                <div class="mt-4">
                    <% if (usersesstion) { %>
                        <div class="flex flex-col mt-2 justify-center">
                            <input type="text" name="replybox" class="border-2 border-slate-200 outline-none text-left p-2 w-full h-10 rounded mb-2" placeholder="ตอบกลับโพสต์นี้">
                            <button data-forumid="<%= forum._id %>" class="bg-blue-500 rounded-lg py-2 text-white hover:bg-blue-700 btn-reply" type="button">ตอบ</button>
                        </div>
                    <% } else { %>
                        <button class="flex justify-center items-center text-lg bg-blue-200 rounded-lg p-2 w-full">
                            <i class='bx bxs-message-rounded-dots mr-2'></i>เข้าสู่ระบบเพื่อตอบกลับ
                        </button>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
<% }); %>