<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>จัดการรายการต่างๆ</title>
    <link rel="stylesheet" href="../css/font/font1.css">
    <link rel="stylesheet" href="./css/pages/videos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<style>
    .loading-indicator {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .spinner {
        border: 4px solid rgba(0, 0, 0, 0.1);
        border-left-color: #3d84ff;
        /* สีของ Spinner */
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
        /* การหมุนของ Spinner */
    }

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }
</style>
<body>
    <%- include('../../../navnar_Header') %>
    <section class="content">
        <h2 class="text-3xl mb-6 border-l-4 border-sky-600 px-5 text-gray-600">ภาพรวม</h2>
        <nav aria-label="Page navigation example" style="display: flex; justify-content: center;">
            <ul class="flex items-center -space-x-px h-10 text-base">
                <li>
                    <a href="/<%= usersesstion.url %>/dashboard"
                        class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-gray-100 border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-whitee">
                     จัดการบทความ
                    </a>
                </li>
                <li>
                    <a href="/<%= usersesstion.url %>/dashboard/video"
                        class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-whitee">
                     จัดการวีดีโอ
                    </a>
                </li>
                <!-- <li>
                    <a href="/<%= usersesstion.url %>/dashboard/animebord"
                        class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-whitee">
                        แก้ไขสื่อ
                    </a>
                </li> -->
            </ul>
        </nav>
        <div class="mt-8 bg-white px-6 md:px-12 py-4 shadow-md rounded-md relative">
            <div style="display: block; justify-content: center; align-items: center;" class="loading-indicator loadingIndicator" id="loadingIndicator">
                <div class="spinner"></div>
            </div>
            <div class="loading" style="display: none;">
                <div class="videos_edits">
                    <ul class="videoEdits grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                        <% if (userData && userData.acticles && userData.acticles.length> 0) { %>
                            <% userData.acticles.forEach(acticle=> { %>
                                <li class="item rounded-lg border-inherit p-2 bg-gray-50">
                                    <div class="img_edit">
                                        <img src="/acticles_images/<%= acticle.photo %>" alt="">
                                    </div>
                                    <div class="text_info">
                                        <h class="p-[10px] mb-[10px] text-2xl" title="<%= acticle.title %>">
                                            <%= acticle.title %>
                                        </h>
                                        <div class="btn_edit">
                                            <form action="/edit_acticle" method="POST">
                                                <input type="hidden" name="edit_id" value="<%= acticle._id %>"> 
                                                <button type="submit"
                                                    class="btn-deitarticle rounded-lg bg-green-500 w-full mb-[20px] p-2">แก้ไข</button>
                                            </form>
                                            <button class="btnde bg-red-500 p-2 rounded-lg w-full"><a
                                                    class="delete-button" href="/delete/<%= acticle._id %>"
                                                    onclick="confirmDelete(event)">ลบ</a></button>
                                        </div>
                                    </div>
                                </li>
                                <% }); %>
                                    <% } else { %>
                                        <p style="text-align: center; color: #000;">ยังไม่มีเนื้อหาบทความที่สร้างครับ.
                                        </p>
                                        <% } %>

                    </ul>
                </div>
                  
            </div>
        </div>
    </section>

        <script src="/js/pages/loading_datas.js"></script>
        <script>
            function confirmDelete(event) {
                event.preventDefault(); // หยุดการกระทำเริ่มต้นของลิงก์
        
                const deleteUrl = event.target.getAttribute('href'); // รับ URL ที่จะลบ
        
                Swal.fire({
                    title: 'คุณแน่ใจหรือไม่?',
                    text: "คุณต้องการที่จะลบไฟล์นี้หรือไม่?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'ใช่, ลบ!',
                    cancelButtonText: 'ยกเลิก'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // ถ้าผู้ใช้ยืนยันการลบ
                        window.location.href = deleteUrl; // ลิงก์ไปยัง URL ที่ต้องการลบ
                    }
                });
            }
        </script>
</body>

</html>