<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>สร้างอนิเมะบอร์ด เดือนฟฤษภาคม</title>
    <link rel="stylesheet" href="../../css/admin/dash.css">
    <link rel="stylesheet" href="../../css/admin/createAnime.css">
    <link rel="stylesheet" href="../../css/admin/Admin_section.css">
    <link rel="stylesheet" href="../../css/admin/sidebar.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../../css/acticle.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/df26bd9708.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('./sidebars/navbar') %>
    <section class="home-section">
        <%- include('./sections/navbar') %>
        <div class="col_form mx-auto px-4 xl:max-w-7xl pt-[110px]">
            <% if (usersesstion) { %>
                <h5>ดำเนินด้วยบัญชี</h5>
                <div class="profile-info">
                <img src="/profiles/<%= usersesstion.profile %>" alt="Profile Image">
                <div>
                  <p><%= usersesstion.username %></p>
                  <p><%= usersesstion.email %></p>
                </div>
              </div>
            <% } %>
    
            <div class="edit">
                <a href="/edit/anime/boards">แก้ไขสื่ออนิเมะ</a>
            </div>
            
            <form action="/createAnime/may" method="post">
                <h2>สร้างอนิเมะบอร์ด</h2>
    
                <label for="name">ชื่ออนิเมะ</label>
                <input type="text" name="nameAnime" placeholder="ชื่ออนิเมะ">
    
                <label for="ds">ผลิตโดย</label>
                <input type="text" name="Produced" placeholder="ผลิตโดย">
    
                <label for="on">ต้นฉบับ</label>
                <input type="text" name="manuscript" placeholder="ต้นฉบับ">
    
                <label for="ep">จำนวนตอน</label>
                <input type="text" name="episodes" placeholder="จำนวนตอน">
    
                <label for="name">เริ่มฉาย</label>
                <input type="text" name="start" placeholder="เริ่มฉาย">
    
                <label for="link">ลิงภาพ</label>
                <input type="text" name="linkImage" placeholder="ลิ้งภาพ">
    
                <input type="submit" value="เผยแพร่">
            </form>
        </div>
    </section>
   
    <script src="/js/admins/script.js"></script>
</body>
</html>