<!-- Ipdate -->
<div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">Admin</span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="/admin/dash" class="<%= active === 'home-admin' ? 'active' : '' %>">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">ภาพรวม</span>
          </a>
        </li>
        <li>
          <a href="/admin/update_code" class="<%= active === 'update-admin' ? 'active' : '' %>">
            <i class='bx bx-box' ></i>
            <span class="links_name">อัพเดตซอง</span>
          </a>
        </li>
        <li>
          <a href="/admin/createAnime" class="<%= active === 'createAnime-admin' ? 'active' : '' %>">
            <i class='bx bx-list-ul' ></i>
            <span class="links_name">สร้างรายการอนิเมะ</span>
          </a>
        </li>
        <li>
          <a href="/admin/editvideos" class="<%= active === 'editvideos' ? 'active' : '' %>">
            <i class='bx bx-edit' ></i>
            <span class="links_name">แก้ไขวีดีโอ</span>
          </a>
        </li>
        <li>
          <a href="/upload_video" class="<%= active === 'createAnime-admin' ? 'active' : '' %>">
            <i class='bx bx-cloud-upload' ></i>
            <span class="links_name">สร้างวีดีโอตัวอย่าง</span>
          </a>
        </li>
        <!-- <li>
          <a href="#">
            <i class='bx bx-pie-chart-alt-2' ></i>
            <span class="links_name">Analytics</span>
          </a>
        </li> -->
        <li>
          <a href="/add-admin" class="<%= active === 'add-admin' ? 'active' : '' %>">
            <i class='bx bx-coin-stack' ></i>
            <span class="links_name">เพิ่มผู้ดูแล</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-user' ></i>
            <span class="links_name">ทีมทั้งหมด</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-message' ></i>
            <span class="links_name">ข้อมความติดต่อ</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-coin' ></i>
            <span class="links_name">สร้างรายได้</span>
          </a>
        </li>
        <% if (usersesstion.approval_admin) { %>
            <li class="log_out">
                <a href="/admin/logout">
                  <i class='bx bx-log-out'></i>
                  <span class="links_name">ออกจากระบบ</span>
                </a>
              </li>
              <% } else { %>
        <li class="log_in">
            <a href="#" class="<%= active === 'login-admin' ? 'active' : '' %>">
              <i class='bx bx-log-in'></i>
              <span class="links_name">เข้าสู่ระบบ</span>
            </a>
          </li>
          <% } %>
      </ul>
  </div>