<!-- Sidebar -->
<div id="sidebar"
  class="sidebar fixed h-full w-64 h-screen bg-white shadow-md">
  <div class="p-4 border-b">
    <h1 class="text-lg font-bold">Admin Dashboard</h1>
  </div>
  
<button id="menuToggle" class="md:hidden fixed top-4 right-3 mb-4 px-4 py-2 bg-blue-500 text-white rounded">
  <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
  </svg>
</button>

  <ul class="mt-4 overflow-y-auto">
    <li class="p-4 hover:bg-gray-200 cursor-pointer <%= active === 'home-admin' ? 'bg-black text-white' : '' %>">
      <a href="/admin/dash">ภาพรวม</a>
    </li>
    <li class="p-4 hover:bg-gray-200 cursor-pointer <%= active === 'update-admin' ? 'bg-black text-white' : '' %>">
      <a href="/admin/update_code">อัตเดตซอง</a>
    </li>
    <li
      class="p-4 hover:bg-gray-200 cursor-pointer <%= active === 'update-update_linkwallet' ? 'bg-black text-white' : '' %>">
      <a href="/admin/update_linkwallet">อัตเดตลิ้งอั่งเปา</a>
    </li>
    <li class="p-4 hover:bg-gray-200 cursor-pointer <%= active === 'createAnime-admin' ? 'bg-black text-white' : '' %>">
      <a href="/admin/createAnime">เพิ่มอนิเมะ</a>
    </li>
    <li class="p-4 hover:bg-gray-200 cursor-pointer <%= active === 'videos' ? 'bg-black text-white' : '' %>">
      <a target="_blank" href="/upload_video">สร้างตัวอย่างวีดีโอ</a>
    </li>
    <li class="p-4 hover:bg-gray-200 cursor-pointer <%= active === 'add-admin' ? 'bg-black text-white' : '' %>">
      <a href="/add-admin">เพิ่มผู้ดูแล</a>
    </li>
    <li class="p-4 hover:bg-gray-200 cursor-pointer <%= active === 'Addep' ? 'bg-black text-white' : '' %>">
      <a href="/admin/add/ep">เพิ่มตอนวีดีโอ</a>
    </li>
    <li class="p-4 block hover:bg-gray-200 cursor-pointer <%= active === 'Comic' ? 'bg-black text-white' : '' %>">
      <a href="/admin/create/comic">สร้างคอมมิค</a>
    </li>
    <li class="p-4 block hover:bg-gray-200 cursor-pointer <%= active === 'banner' ? 'bg-black text-white' : '' %>">
      <a href="/admin/add/banner">การแจ้งเตือน</a>
    </li>
    <li class="p-4 hover:bg-gray-200 cursor-pointer  <%= active === 'ComicAll' ? 'bg-black text-white' : '' %>">
      <a href="/admin/ComicList/All">คอมมิคทั้งหมด</a>
    </li>
    <li
      class="p-4 block hover:bg-gray-200 cursor-pointer <%= active === 'home-admin-withdrawal' ? 'bg-black text-white' : '' %>">
      <a href="/admin/withdrawal/usersAll">จ่ายเงินให้ผู้ใช้</a>
    </li>
    <% if (usersesstion.approval_admin) { %>
      <li class="block p-4 hover:bg-gray-200 cursor-pointer">
        <a href="/admin/logout">
          <span class="links_name">ออกจากระบบ</span>
        </a>
      </li>
      <% } else { %>
        <li class="log_in">
          <a href="#" class="<%= active === 'login-admin' ? 'active' : '' %>">
            <i class='bx bx-log-in'></i>
            <span class="links_name">เข้าสู่ระบบ</span>
          </a>
        </li>
        <% } %>
  </ul>
</div>


<style>
  .main-section {
    position: relative;
    background: #f5f5f5;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
  }

  .sidebar-collapsed .main-section {
    width: 100%;
    left: -240px;
  }

  .sidebar-collapsed .sidebar {
    left: -240px;
  }
</style>

<script>
  document.getElementById('menuToggle').addEventListener('click', function () {
    document.body.classList.toggle('sidebar-collapsed');
  });
</script>