
    <div class="home-content">
        <div class="sales-boxes">
            <div class="recent-sales box">
               <div class="input-search-id box">
                <input type="search" name="searchID" id="searchID" placeholder="ค้นหาไอดี">
                <button type="submit">ค้นหา</button>
               </div>

               <div class="search_result">
                <div class="title_result">
                    ผลการค้นหาไอดี 
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>ลำดับ</th>
                            <th>ไอดีผู้ใช้</th>
                            <th>เวลาลงทะเบียน</th>
                            <th>ชื่อผู้ใช้</th>
                            <th>อีเมลผู้ใช้</th>
                            <th>อนุมัติเป็นแอดมิน</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach((user, index) => { %>
                            <tr>
                                <td><%= index + 1 %></td>
                                <td><a href="#"><%= user.userid %></a></td>
                                <% // ฟังก์ชันสำหรับการแปลงวันที่ให้เป็นรูปแบบที่ต้องการ
                                        function formatDate(dateString) {
                                          const thaiMonths = [
                                            "มกราคม", "กุมภาพันธ์", "มีนาคม",
                                            "เมษายน", "พฤษภาคม", "มิถุนายน",
                                            "กรกฎาคม", "สิงหาคม", "กันยายน",
                                            "ตุลาคม", "พฤศจิกายน", "ธันวาคม"
                                          ];
                                        
                                          const date = new Date(dateString);
                                          const day = date.getDate();
                                          const month = thaiMonths[date.getMonth()];
                                          const year = date.getFullYear();
                                          const hour = date.getHours();
                                          const minute = date.getMinutes();
                                          return `${day} ${month} ${year} ${hour}:${minute}`;
                                        }
                                        
                                            %>
                                            <td>
                                                <%= formatDate(user.createdAt) %>
                                            </td>
                                <td><a href="#"><%= user.username %></a></td>
                                <td><a href="#"><%= user.email %></a></td>
                                <td>
                                    <form action="/admin/approve/<%= user.userid %>" method="get">
                                        <button class="admin-approval-btn" data-userid="<%= user.userid %>" data-approval="<%= user.approval_admin %>">
                                            <% if (user.approval_admin) { %>
                                                อนุมัติแล้ว
                                            <% } else { %>
                                                รอการอนุมัติ
                                            <% } %>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>            
            </div>
        </div>