<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>อนิเมะ 2024</title>
    <link rel="shortcut icon" href="/images/logo/Aninight.png" type="image/x-icon">
    <meta name="description" content="รายการอนิเมะ 2024 อนิเมะ 2024 รวมมาไว้ที่นี่แล้ว ตรวจสอบอนิเมะที่คุณชอบ">
    <meta name="keywords" content="Anime2024, Anime, 2024, อนิเมะ, มีนาคม, เมษายน,">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="og:url" content="https://www.ani-night.online/animeboard">
    <meta property="og:image" content="https://www.ani-night.online/animeboard">
    <meta name="google-site-verification" content="eyTwMkNmyYZFyV7ag9MuAEh5uOPdc4uZ6ONSM3w5HRI">
    <meta name="theme-color" content="#00bbff">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="./css/pages/anime.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <meta name="google-site-verification" content="eyTwMkNmyYZFyV7ag9MuAEh5uOPdc4uZ6ONSM3w5HRI">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6579807593228261"
        crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-LTJP520FN4"></script>
      <script>
          window.dataLayer = window.dataLayer || [];
          function gtag() { dataLayer.push(arguments); }
          gtag('js', new Date());
  
          gtag('config', 'G-LTJP520FN4');
      </script>
          <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50">
    <%- include('../../navnar_Header') %>
    <section class=" mx-auto px-4 xl:max-w-7xl">
        <div class="search_bomibe px-5 mt-5">
            <input type="text" name="text_mass" oninput="searchAnime(this.value)"
                class="searchinput border-2 border-slate-200 outline-none text-left p-2 w-full h-[45px] rounded"
                placeholder="ค้นหาอนิเมะ">
        </div><br>
        <div class="search_result_container" id="searchResult" style="display: none;">
            <h2 class="text-1xl mt-5">ผลลัพธ์การค้นหา <span id="result"></span></h2>
            <div class="anime_lists search_result">
        
            </div>
        </div>

        <div class="categorys bg-white rounded p-2 flex mt-5">
            <ul>
                <li>
                    เดือน
                </li>
            </ul>
        
            <div class="catagory_form ml-2">
                <h2 class="text-1xl">เลือกหมวดหมู่</h2>
                <button id="april_btn" class="bg-gray-400 rounded  p-2 text-white">เมษายน</button>
            </div>
        </div>
        

         <section class="april_Section" id="april_Section" style="display: none;"> 
            <div class="anime_content">
                <h2 class="anime_brta">เมษายน 2024</h2>
                <div class="loading" style="display: none;">
                    <div class="anime_lists sub" >
                        <% if (AnimeBordData && AnimeBordData.length > 0) { %> 
                            <% AnimeBordData.forEach(item => { %>
                                <% if (item.animeApril && item.animeApril.length > 0) { %>
                                    <% item.animeApril.forEach(anime => { %>
                                        <div class="anime_list">
                                                <div class="anime_item_pic">
                                                    <img src="<%= anime.linkImage %>" alt="Anime">
                                                </div>
                                                <div class="anime_info_text">
                                                    <h2><%= anime.nameAnime %></h2>
                                                    <p>ผลิตโดย: <span><%= anime.Produced %></span></p>
                                                    <% if (anime.manuscript) { %>
                                                        <p>ต้นฉบับ: <span><%= anime.manuscript %></span></p>
                                                    <% } %>
                                                    <p>จำนวนตอน: <span><%= anime.episodes %></span></p>
                                                    <p>เริ่มฉาย: <span><%= anime.start %></span></p>
                                                    
                                                    <% if (anime.nameep) { %>
                                                        <p>ชื่อตอน: <span><%= anime.nameep %></span></p>
                                                    <% } %>
                                                    <% if (anime.info) { %>
                                                        <button class="btn_info">
                                                            
                                                            <a target="_blank" href="<%= anime.info %>">ข้อมูลเพิ่มเติม</a>
                                                        </button>
                                                    <% } %>
                                                    <% if (anime.web) { %>
                                                        <a href="<%= anime.web %>" target="_blank">
                                                            <button class="btn_web web">
                                                                <div class="image">
                                                                    <img src="/images/world-wide-web.png" alt="web">
                                                                </div>
                                                                เว็บทางการ
                                                            </button>
                                                        </a>
                                                        
                                                    <% } %>
                                                    <% if (anime.bilibili) { %>
                                                        <a href="<%= anime.bilibili %>" target="_blank">
                                                            <button class="btn_bilibili bilibili">
                                                                <div class="image">
                                                                    <img src="/images/bilibili.png" alt="Bilibili">
                                                                </div>
                                                                Bilibili
                                                            </button>
                                                        </a>
                                                    <% } %>
                                                    <% if (anime.Iqiyi) { %>
                                                        <a href="<%= anime.Iqiyi %>" target="_blank">
                                                            <button class="btn_iq iq">
                                                                <div class="image">
                                                                    <img src="/icons/iqiyi-icon.png" alt="IQIYI">
                                                                </div>
                                                                IQIYI
                                                            </button>
                                                        </a>
                                                       
                                                    <% } %>
                                                    <% if (anime.crunchyroll) { %>
                                                        <a href="<%= anime.crunchyroll %>" target="_blank">
                                                            <button class="btn_crunchyroll crunchyroll">
                                                                <div class="image">
                                                                    <img src="/icons/crunchyroll_icon.png" alt="crunchyroll">
                                                                </div>
                                                                crunchyroll
                                                            </button>
                                                        </a>
                                                       
                                                    <% } %>
                                                    <% if (anime.youtube) { %>
                                                        <a href="<%= anime.youtube %>" target="_blank">
                                                            <button class="btn_yt yt">
                                                                <div class="image">
                                                                    <img src="/icons/youtube.svg" alt="youtube">
                                                                </div>
                                                                YouTube
                                                                <p class="pl-1">
                                                                    <%= anime.yt_text %>
                                                                </p>
                                                            </button>
                                                        </a>
                                                    <% } %>
                                                    <% if (anime.netflix) { %>
                                                        <a href="<%= anime.netflix %>" target="_blank">
                                                            <button class="btn_nf netflix">
                                                                <div class="image">
                                                                    <img src="/icons/netflix.png" alt="netflix">
                                                                </div>
                                                                <a  class="flex" href="">ดูบน Netflix </a>
                                                            </button>
                                                        </a>
                                              
                                                    <% } %>
                                                </div>
                                        </div>
                                    <% }); %>
                                <% } else { %>
                                    <p style="text-align: center;">ไม่มีข้อมูล AnimeApril สำหรับ AnimeBord นี้</p>
                                <% } %>
                            <% }); %>
                        <% } else { %>
                            <p style="text-align: center;">ไม่มีข้อมูล AnimeBord</p>
                        <% } %>
                    
                    </div>
                </div>
                
                <div class="loading-indicator loadingIndicator" id="loadingIndicator">
                    <div class="spinner"></div>
                </div>
            </div>
         </section>

        <div class="anime_content">
            <h2 class="anime_brta">พฤษภาคม 2024 + พากย์ไทย</h2>
            <div class="loading" style="display: none;">
                <div class="anime_lists sub" >
                    <% if (AnimeBordData && AnimeBordData.length > 0) { %> 
                        <% AnimeBordData.forEach(item => { %>
                            <% if (item.animeMay && item.animeMay.length > 0) { %>
                                <% item.animeMay.forEach(anime => { %>
                                    <div class="anime_list">
                                        <div class="anime_item_pic">
                                            <img src="<%= anime.linkImage %>" alt="Anime">
                                        </div>
                                        <div class="anime_info_text">
                                            <h2><%= anime.nameAnime %></h2>
                                            <p>ผลิตโดย: <span><%= anime.Produced %></span></p>
                                            <% if (anime.manuscript) { %>
                                                <p>ต้นฉบับ: <span><%= anime.manuscript %></span></p>
                                            <% } %>
                                            <p>จำนวนตอน: <span><%= anime.episodes %></span></p>
                                            <p>เริ่มฉาย: <span><%= anime.start %></span></p>
                                            
                                            <% if (anime.nameep) { %>
                                                <p>ชื่อตอน: <span><%= anime.nameep %></span></p>
                                            <% } %>
                                            <% if (anime.info) { %>
                                                <button class="btn_info">
                                                    
                                                    <a href="<%= anime.info %>">ข้อมูลเพิ่มเติม</a>
                                                </button>
                                            <% } %>
                                            <% if (anime.web) { %>
                                                <a href="<%= anime.web %>" target="_blank">
                                                    <button class="btn_web web">
                                                        <div class="image">
                                                            <img src="/images/world-wide-web.png" alt="web">
                                                        </div>
                                                        เว็บทางการ
                                                    </button>
                                                </a>
                                                
                                            <% } %>
                                            <% if (anime.bilibili) { %>
                                                <a href="<%= anime.bilibili %>" target="_blank">
                                                    <button class="btn_bilibili bilibili">
                                                        <div class="image">
                                                            <img src="/images/bilibili.png" alt="Bilibili">
                                                        </div>
                                                        Bilibili
                                                    </button>
                                                </a>
                                            <% } %>
                                            <% if (anime.Iqiyi) { %>
                                                <a href="<%= anime.Iqiyi %>" target="_blank">
                                                    <button class="btn_iq iq">
                                                        <div class="image">
                                                            <img src="/icons/iqiyi-icon.png" alt="IQIYI">
                                                        </div>
                                                        IQIYI
                                                    </button>
                                                </a>
                                               
                                            <% } %>
                                            <% if (anime.crunchyroll) { %>
                                                <a href="<%= anime.crunchyroll %>" target="_blank">
                                                    <button class="btn_crunchyroll crunchyroll">
                                                        <div class="image">
                                                            <img src="/icons/crunchyroll_icon.png" alt="crunchyroll">
                                                        </div>
                                                        crunchyroll
                                                    </button>
                                                </a>
                                               
                                            <% } %>
                                            <% if (anime.youtube) { %>
                                                <a href="<%= anime.youtube %>" target="_blank">
                                                    <button class="btn_yt yt">
                                                        <div class="image">
                                                            <img src="/icons/youtube.svg" alt="youtube">
                                                        </div>
                                                        YouTube
                                                        <p class="pl-1">
                                                            <%= anime.yt_text %>
                                                        </p>
                                                    </button>
                                                </a>
                                            <% } %>
                                            <% if (anime.netflix) { %>
                                                <a href="<%= anime.netflix %>" target="_blank">
                                                    <button class="btn_nf netflix">
                                                        <div class="image">
                                                            <img src="/icons/netflix.png" alt="netflix">
                                                        </div>
                                                        <a  class="flex" href="">ดูบน Netflix </a>
                                                    </button>
                                                </a>
                                      
                                            <% } %>

                                        </div>
                                    </div>
                                <% }); %>
                            <% } else { %>
                                <p style="text-align: center;">ไม่มีข้อมูล AnimeApril สำหรับ AnimeBord นี้</p>
                            <% } %>
                        <% }); %>
                    <% } else { %>
                        <p style="text-align: center;">ไม่มีข้อมูล AnimeBord</p>
                    <% } %>
                    
                    
                    <!-- <div class="anime_list">
                        <div class="anime_item_pic">
                            <img src="https://m1r.ai/nq4ji.webp" alt="Anime Pic">
                        </div>
                        <div class="anime_info_text">
                            <h2>Kami wa Game ni Ueteiru</h2>
                            <p>ผลิตโดย: <span>Liden Films</span></p>
                            <p>ต้นฉบับ: <span>Light Novel</span></p>
                            <p>จำนวนตอน: <span>! ยังไม่ทราบข้อมูล</span></p>
                            <p>เริ่มฉาย(ญี่ปุ่น): <span> 1 เม.ย. 24 - 19.30 (จันทร์)</span></p>
                            <button>
                                <a href="#">ข้อมูลเพิ่มเติม</a>
                            </button>
                        </div>
                    </div> -->
                </div>
            </div>
            
            <div class="loading-indicator loadingIndicator" id="loadingIndicator">
                <div class="spinner"></div>
            </div>
        </div>

        <div class="anime_content">
            <h2 class="anime_brta">กรกฎาคม 2024</h2>
            <div class="loading" style="display: none;">
                <div class="anime_lists sub" >
                    <% if (AnimeBordData && AnimeBordData.length > 0) { %> 
                        <% AnimeBordData.forEach(item => { %>
                            <% if (item.animeJuly && item.animeJuly.length > 0) { %>
                                <% item.animeJuly.forEach(anime => { %>
                                    <div class="anime_list">
                                        <div class="anime_item_pic">
                                            <img src="<%= anime.linkImage %>" alt="Anime">
                                        </div>
                                        <div class="anime_info_text">
                                            <h2><%= anime.nameAnime %></h2>
                                            <p>ผลิตโดย: <span><%= anime.Produced %></span></p>
                                            <% if (anime.manuscript) { %>
                                                <p>ต้นฉบับ: <span><%= anime.manuscript %></span></p>
                                            <% } %>
                                            <p>จำนวนตอน: <span><%= anime.episodes %></span></p>
                                            <p>เริ่มฉาย: <span><%= anime.start %></span></p>
                                            
                                            <% if (anime.nameep) { %>
                                                <p>ชื่อตอน: <span><%= anime.nameep %></span></p>
                                            <% } %>
                                            <% if (anime.info) { %>
                                                <button class="btn_info">
                                                    
                                                    <a href="<%= anime.info %>">ข้อมูลเพิ่มเติม</a>
                                                </button>
                                            <% } %>
                                            <% if (anime.web) { %>
                                                <a href="<%= anime.web %>" target="_blank">
                                                    <button class="btn_web web">
                                                        <div class="image">
                                                            <img src="/images/world-wide-web.png" alt="web">
                                                        </div>
                                                        เว็บทางการ
                                                    </button>
                                                </a>
                                                
                                            <% } %>
                                            <% if (anime.bilibili) { %>
                                                <a href="<%= anime.bilibili %>" target="_blank">
                                                    <button class="btn_bilibili bilibili">
                                                        <div class="image">
                                                            <img src="/images/bilibili.png" alt="Bilibili">
                                                        </div>
                                                        Bilibili
                                                    </button>
                                                </a>
                                            <% } %>
                                            <% if (anime.Iqiyi) { %>
                                                <a href="<%= anime.Iqiyi %>" target="_blank">
                                                    <button class="btn_iq iq">
                                                        <div class="image">
                                                            <img src="/icons/iqiyi-icon.png" alt="IQIYI">
                                                        </div>
                                                        IQIYI
                                                    </button>
                                                </a>
                                               
                                            <% } %>
                                            <% if (anime.crunchyroll) { %>
                                                <a href="<%= anime.crunchyroll %>" target="_blank">
                                                    <button class="btn_crunchyroll crunchyroll">
                                                        <div class="image">
                                                            <img src="/icons/crunchyroll_icon.png" alt="crunchyroll">
                                                        </div>
                                                        crunchyroll
                                                    </button>
                                                </a>
                                               
                                            <% } %>
                                            <% if (anime.youtube) { %>
                                                <a href="<%= anime.youtube %>" target="_blank">
                                                    <button class="btn_yt yt">
                                                        <div class="image">
                                                            <img src="/icons/youtube.svg" alt="youtube">
                                                        </div>
                                                        YouTube
                                                        <p class="pl-1">
                                                            <%= anime.yt_text %>
                                                        </p>
                                                    </button>
                                                </a>
                                            <% } %>
                                            <% if (anime.netflix) { %>
                                                <a href="<%= anime.netflix %>" target="_blank">
                                                    <button class="btn_nf netflix">
                                                        <div class="image">
                                                            <img src="/icons/netflix.png" alt="netflix">
                                                        </div>
                                                        <a  class="flex" href="">ดูบน Netflix </a>
                                                    </button>
                                                </a>
                                      
                                            <% } %>

                                        </div>
                                    </div>
                                <% }); %>
                            <% } else { %>
                                <p style="text-align: center;">ไม่มีข้อมูล animeJuly หรือเดือน กรกฎาคม สำหรับ AnimeBord นี้</p>
                            <% } %>
                        <% }); %>
                    <% } else { %>
                        <p style="text-align: center;">ไม่มีข้อมูล AnimeBord</p>
                    <% } %>
                    
                    
                    <!-- <div class="anime_list">
                        <div class="anime_item_pic">
                            <img src="https://m1r.ai/nq4ji.webp" alt="Anime Pic">
                        </div>
                        <div class="anime_info_text">
                            <h2>Kami wa Game ni Ueteiru</h2>
                            <p>ผลิตโดย: <span>Liden Films</span></p>
                            <p>ต้นฉบับ: <span>Light Novel</span></p>
                            <p>จำนวนตอน: <span>! ยังไม่ทราบข้อมูล</span></p>
                            <p>เริ่มฉาย(ญี่ปุ่น): <span> 1 เม.ย. 24 - 19.30 (จันทร์)</span></p>
                            <button>
                                <a href="#">ข้อมูลเพิ่มเติม</a>
                            </button>
                        </div>
                    </div> -->
                </div>
            </div>
            
            <div class="loading-indicator loadingIndicator">
                <div class="spinner"></div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="content_main">
            <!-- <div class="search">
                <div class="bg-white px-6 md:px-12 py-8 mb-[40px] md:py-12 mt-8 shadow-sm relative">
                    <form action="" class="w-full">
                        <div class="relative mt-1 w-full">
                            <div class="absolute w-full inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"></path>
                                </svg>
                            </div>
                            <input type="search" name="query" id="search" placeholder="ค้นหาแบบเรียวไทมเลยย..."
                            class="block w-full p-4 ps-10 text-lg text-black-900 border border-gray-50 rounded-full h-10 bg-gray-50"
                            oninput="searchAnime()">
                                       
                        </div>
                    </form> 
                </div>
            </div> -->

          

        </div>
    </div>

    <script src="../js/sidebar.js"></script>
    <script src="/js/searchanime.js"></script>
    <!-- <script>
        window.addEventListener('scroll', function () {
            var navbar = document.getElementById('navbar');
            if (window.scrollY > 50) {
                navbar.classList.add('navbar-white-bg');
            } else {
                navbar.classList.remove('navbar-white-bg');
            }
        });

        window.onload = function() {
        searchAnime();
    };

    </script> -->
    <script>
        function showLoadingIndicator() {
            document.querySelectorAll('.loadingIndicator').forEach(item => {
                item.style.display = 'block';
            });
            document.querySelectorAll('.loading').forEach(item => {
                item.style.display = 'none';
            });
        }

        function hideLoadingIndicator() {
            document.querySelectorAll('.loadingIndicator').forEach(item => {
                item.style.display = 'none';
            });
            document.querySelectorAll('.loading').forEach(item => {
                item.style.display = 'block';
            });
        }

        showLoadingIndicator();

        window.addEventListener('load', function () {
            hideLoadingIndicator();
        });

        </script>
        
</body>
</html>