<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="บทความอนิเมะ ข่าวบันเท้ง 2024 login เข้าสู่ระบบ">
    <title>
        <%= usersesstion.username %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="shortcut icon" href="/images/logo/Aninight.png" type="image/x-icon">
</head>
<body class="bg-gray-100">
    <%- include('../../navnar_Header') %>
    <%- include('../../sidebar_Section') %>
    <section class="l">
        <div class="content_main"> 
            <%- include('./profile/profile_section') %>
            <div class=""> 
                <%- include('./profile/navbar') %>
            </div>
            <%- include('./profile/contents/home_Content') %> 
           </div>
    </section>
    
    <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
    <script src="/js/sidebar.js"></script>
    <script src="./js/pages/profuleupload_Section.js"></script>

    <script>
        function previewImage(input) {
            var preview = document.getElementById('preview');
            var file = input.files[0];
            var reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
                preview.style.display = 'block';
            }

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "";
                preview.style.display = 'none';
            }
        }
    </script>
      <% if (typeof alertMessage !=='undefined' && alertMessage ) { %>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                Swal.fire({
                    icon: 'success',
                    title: '<%= alertMessage %>',
                });
            });
        </script>
        <% } %>
</body>

</html>