<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="../../../css/admin/dash.css">
    <link rel="stylesheet" href="../../css/admin/sidebar.css">
    <link rel="stylesheet" href="../css/admin/Admin_section.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/acticle.css">
    <link rel="stylesheet" href="../css/font/font1.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
    <meta name="keywords" content="บทความอนิเมะ ข่าวบันเท้ง 2024 login เข้าสู่ระบบ">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/df26bd9708.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('./../sidebars/navbar') %>
    <section class="home-section">
        <div class="container mx-auto px-4 py-8">
            <h1 class="text-3xl font-bold mb-6">ประวัติการถอนเงิน</h1>
    
            <% if (users && users.length > 0) { %>
                <% const totalusers = users.length; %>
                <div class="flex justify-between items-center pb-3 border-b-2">
                    <h2 class="text-2xl font-bold">คำขอทั้งหมดถอนเงิน: <%= totalusers %></h2>
                </div>
                <table class="min-w-full bg-white">
                    <thead>
                        <tr>
                            <!-- <th class="py-2 px-4 border-b">ชื่อผู้ใช้</th> -->
                            <th class="py-2 px-4 border-b">อีเมล</th>
                            <th class="py-2 px-4 border-b">ประวัติการถอนเงิน</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach(user => { %>
                            <tr>
                                <!-- <td class="py-2 px-4 border-b"><%= user.name %></td> -->
                                <td class="py-2 px-4 border-b"><%= user.email %></td>
                                <td class="py-2 px-4 border-b">
                                    <div class="cursor-pointer" onclick="toggleWithdrawalHistory('<%= user._id %>')">
                                        <!-- เพิ่มลูกศรด้านขวาของชื่อผู้ใช้ -->
                                        ประวัติการถอนเงิน <span class="ml-2">&#9660;</span>
                                    </div>
                                    <div id="withdrawalHistory_<%= user._id %>" style="display: none;">
                                        <% if (user.withdrawalHistory && user.withdrawalHistory.length > 0) { %>
                                            <table class="min-w-full bg-gray-100 mt-2">
                                                <thead>
                                                    <tr>
                                                        <th class="py-2 px-4 border-b">ระบบการถอนเงิน</th>
                                                        <th class="py-2 px-4 border-b">ข้อความ</th>
                                                        <th class="py-2 px-4 border-b">เบอร์โทรศัพท์</th>
                                                        <th class="py-2 px-4 border-b">ถอนเมื่อ</th>
                                                        <th class="py-2 px-4 border-b">สถานะ</th>
                                                        <th class="py-2 px-4 border-b">การกระทำ</th>
                                                        <th class="py-2 px-4 border-b">ปฏิเสธการถอนเงิน</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% user.withdrawalHistory.forEach(withdrawal => { %>
                                                        <tr>
                                                            <td class="py-2 px-4 border-b"><%= withdrawal.method %></td>
                                                            <td class="py-2 px-4 border-b"><%= withdrawal.message %></td>
                                                            <td class="py-2 px-4 border-b"><%= withdrawal.phoneNumber %></td>
                                                            <td class="py-2 px-4 border-b"><%= moment(withdrawal.timestamp).locale('th').fromNow() %></td>
                                                            <td class="py-2 px-4 border-b">
                                                                <% if (withdrawal.paid) { %>
                                                                    <span class="text-green-500 font-semibold">จ่ายแล้ว</span>
                                                                <% } else if (withdrawal.rejected) { %>
                                                                    <span class="text-red-500 font-semibold">ปฏิเสธการถอนเงิน</span>
                                                                    <p class="text-red-500"><%= withdrawal.rejectReason %></p>
                                                                <% } else { %>
                                                                    <span class="text-red-500 font-semibold">ยังไม่จ่าย</span>
                                                                <% } %>
                                                            </td>
                                                            <td class="py-2 px-4 border-b">
                                                                <% if (!withdrawal.paid && !withdrawal.rejected) { %>
                                                                    <form action="/admin/refuse-withdrawal/<%= user._id %>/<%= withdrawal._id %>" method="post">
                                                                        <label for="reason_<%= withdrawal._id %>">เหตุผล</label>
                                                                        <input type="text" name="reason" id="reason_<%= withdrawal._id %>" class="border rounded p-1">
                                                                        <button type="submit" class="bg-red-500 text-white py-1 px-3 rounded mt-2">ปฏิเสธการถอนเงิน</button>
                                                                    </form>
                                                                <% } %>
                                                            </td>
                                                            
                                                            <td class="py-2 px-4 border-b">
                                                                <% if (!withdrawal.paid) { %>
                                                                    <form action="/admin/mark-paid/<%= user._id %>/<%= withdrawal._id %>" method="post">
                                                                        <button type="submit" class="bg-blue-500 text-white py-1 px-3 rounded">ทำเครื่องหมายว่าจ่ายแล้ว</button>
                                                                    </form>
                                                                <% } %>
                                                            </td>
                                                            <td class="py-2 px-4 border-b">
                                                                <% if (!withdrawal.paid) { %>
                                                                    <form action="/admin/refuse-withdrawal/<%= user._id %>/<%= withdrawal._id %>" method="post">
                                                                        <label for="reason_<%= withdrawal._id %>">เหตุผล</label>
                                                                        <input type="text" name="reason" id="reason_<%= withdrawal._id %>" class="border rounded p-1">
                                                                        <button type="submit" class="bg-red-500 text-white py-1 px-3 rounded mt-2">ปฏิเสธการถอนเงิน</button>
                                                                    </form>
                                                                <% } %>
                                                            </td>
                                                            
                                                        </tr>
                                                    <% }); %>
                                                </tbody>
                                            </table>
                                        <% } else { %>
                                            <div class="bg-gray-100 rounded-lg p-4 mt-2">
                                                <p class="text-gray-600 text-center">ไม่มีประวัติการถอนเงิน</p>
                                            </div>
                                        <% } %>
                                    </div>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            <% } else { %>
                <div class="bg-white rounded-lg shadow-md p-6">
                    <p class="text-gray-600 text-center">ไม่มีผู้ใช้ที่มีประวัติการถอนเงิน</p>
                </div>
            <% } %>
        
            
        </div>
    </section>
     

    <script src="/js/admins/add_admin.js"></script>

    <script>
        function toggleWithdrawalHistory(userId) {
            const withdrawalHistoryDiv = document.getElementById(`withdrawalHistory_${userId}`);
            if (withdrawalHistoryDiv.style.display === 'none') {
                withdrawalHistoryDiv.style.display = 'block';
            } else {
                withdrawalHistoryDiv.style.display = 'none';
            }
        }
    </script>
</body>
</html>