<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lists of anime | AniNight</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/df26bd9708.js" crossorigin="anonymous"></script>
</head>
<body class="bg-gray-100">
    <%- include('../navbar/navnar_Header') %>
    <%- include('../navbar/sidebar_Section') %>
    <main class="mx-auto px-4 xl:max-w-7xl">
        <div>
            <h2 class="text-2xl text-sky-500 font-bold">Lists of anime</h2>
            <div>
                <div class="w-full bg-white">
                    <input type="text" name="searchanime" id="searchanime" placeholder="SearchAnime" class="w-full px-2 py-2 rounded-md outline-none border-none">
                </div>
                <div class="mt-4 grid grid-cols-1 w-full gap-2 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-6 bg-white rounded-md p-8 md:flex-row">
                    <div>
                        <label class="px-2 font-bold">Choose a year</label>
                        <select name="year" id="yearFilterSelect" class="px-2 py-2 rounded-md outline-none border w-full border-gray-300">
                            <option value="all">All</option>
                        </select>
                    </div>
                    <div>
                        <label class="px-2 font-bold" for="month">Month</label>
                        <select name="month" id="monthFilterSelect" class="px-2 py-2 rounded-md outline-none border w-full border-gray-300">
                            <option value="all">All</option>
                        </select>
                    </div>
                    <div>
                        <label class="px-2 font-bold" for="season">Season</label>
                        <select name="season" id="seasonSelect" class="px-2 py-2 rounded-md outline-none border w-full border-gray-300">
                            <option value="all">All</option>
                            <option value="Spring 2024">⛈ Spring 2024</option>
                            <option value="Summer 2024">☀ Summer 2024</option>
                            <option value="Fall 2024">❄ Fall 2024</option>
                        </select>
                    </div>
                    <div>
                        <label class="px-2 font-bold" for="dub">Dubbing voice</label>
                        <select name="dub" id="dubSelect" class="px-2 py-2 rounded-md outline-none border w-full border-gray-300">
                            <option value="all">All</option>
                            <option value="พากย์ไทย">Dubbed Thai</option>
                            <option value="พากย์ญี่ปุ่น">Dubbed Jpan</option>
                        </select>
                    </div>
                    <div>
                        <label class="px-2 font-bold" for="sub">Subtitles</label>
                        <select name="sub" id="subSelect" class="px-2 py-2 rounded-md outline-none border w-full border-gray-300">
                            <option value="all">All</option>
                            <option value="ซับไทย">Thai</option>
                            <option value="ซับอังกฤษ">English</option>
                        </select>
                    </div>
                    <div>
                        <label class="px-2 font-bold" for="platform">Choose a platform</label>
                        <select name="platform" id="platformSelect" class="px-2 py-2 rounded-md outline-none border w-full border-gray-300">
                            <option value="all">All</option>
                            <option value="bilibili">bilibili</option>
                            <option value="Iqiyi">Iqiyi</option>
                            <option value="Crunchyroll">Crunchyroll</option>
                            <option value="Youtube">Youtube</option>
                            <option value="Netflix">Netflix</option>
                            
                        </select>
                    </div>
                    <div class="pl-4 p-20 md:p-0">
                        <button id="allFilterBtn" class="px-4 py-2 bg-sky-500 w-full text-white rounded-md">All</button>
                    </div>
                </div>
            </div>

            <div class="ads-container bg-white my-8 p-4 bg-gray-50 rounded-lg shadow-md border border-gray-200 aspect-w-16 aspect-h-9">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6579807593228261"
                    crossorigin="anonymous"></script>
                <!-- browse-anime -->
                <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="ca-pub-6579807593228261"
                    data-ad-slot="1908579395"
                    data-ad-format="auto"
                    data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>

            <div class="flex flex-col md:flex-col sm:flex-col lg:flex-row">
                <div class="mt-5">
                    <h2 class="text-2xl font-bold text-sky-500">Anime currently being updated ☃</h2>
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4" id="animeResults">
                        <% animes.forEach(anime => { %>
                        <a href="/browse/anime/<%= anime._id %>" class="anime-item block bg-white rounded-lg shadow-md overflow-hidden"
                          data-year="<%= anime.year %>" data-month="<%= anime.month %>"
                           data-season="<%= anime.season %>" data-dub="<%= anime.dub %>" data-sub="<%= anime.sub %>"
                           <% if(anime.platforms && anime.platforms.length > 0) { %>
                            data-platforms="<%= JSON.stringify(anime.platforms) %>"
                            data-publication-start-time="<%= anime.publicationStartTime %>"
                        <% } %>
                            >
                            <div class="flex flex-col md:flex-row h-full w-full">
                                <div class="col-3 flex justify-center">
                                    <div class="cover-image" role="img" aria-label="<%= anime.nameAnime %>" style="background-image: url('<%= anime.linkImage %>');"></div>
                                </div>
                                <style>
                                    .cover-image {
                                        width: 220px;
                                        height: 320px;
                                        background-size: cover;
                                        background-repeat: no-repeat;
                                        background-position: 50%;
                                        background-color: var(--placeholder);
                                        border-radius: .25rem;
                                        font-size: 0;
                                    }
                                    @media (min-width: 768px) {
                                        .cover-image {
                                            width: 220px;
                                            height: 320px;
                                            padding-top: 0;
                                            border-radius: 10px 0 0 10px;
                                        }
                                    }
                                </style>
                                <div class="p-4 flex flex-col justify-between w-full md:w-3/5">
                                    <div>
                                        <h3 class="font-bold text-lg mb-2"><%= anime.nameAnime %></h3>
                                        <p>Produced by: <%= anime.Produced %></p>
                                        <p>Manuscript: <%= anime.manuscript %></p>
                                        <p>Episodes: <%= anime.episodes %></p>
                                        <p>Start: <%= anime.start %></p>
                                        <p class="countdown-timer text-3xl font-bold text-red-600"data-publication-start-time="<%= anime.publicationStartTime %>"></p>
                                        <div class="flex gap-2 items-center">
                                            <!-- <% if (anime.web) { %>
                                                <div class="mt-4">
                                                    <button target="_blank" rel="noopener noreferrer" onclick="location.href='<%= anime.web %>'" class="text-blue-500 hover:underline">เว็บทางการ</button>
                                                </div>
                                            <% } %> -->
                                            
                                            <% if (anime.bilibili) { %>
                                                <div class="mt-4">
                                                    <img src="/icons/bilibili-icon.png" alt="bilibili icon" class="w-10 h-10 rounded-full">
                                                </div>
                                                <% } %>
                                                <% if (anime.crunchyroll) { %>
                                                    <div class="mt-4">
                                                        <img src="/icons/crunchyroll_icon.png" alt="crunchyroll_icon" class="w-10 h-10 rounded-full">
                                                    </div>
                                                    <% } %>
                                                <% if (anime.Iqiyi) { %>
                                                    <div class="mt-4">
                                                        <img src="/icons/iqiyi-icon.png" alt="iqiyi-icon" class="w-10 h-10 rounded-full">
                                                    </div>
                                                    <% } %>
                                                <% if (anime.netflix) { %>
                                                    <div class="mt-4">
                                                        <img src="/icons/netflix.png" alt="netflix-icon" class="w-10 h-10 rounded-full">
                                                    </div>
                                                    <% } %>
                                                <% if (anime.youtube) { %>
                                                    <div class="mt-4">
                                                        <img src="/icons/youtube.svg" alt="youtube-icon" class="w-10 h-10">
                                                    </div>
                                                    <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <% }) %>
                    </div>
                </div>

                <!-- Left content -->
               <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/2 pl-2 mt-5">
                <div class="mt-5 bg-white p-2">
                    <h3 class="font-bold text-2xl">New updated</h3>
                    <ul>
                        <% latestUpdatedAnimes.forEach(anime => { %>
                            <li class="px-4 m-2 flex items-center">
                                <img src="<%= anime.linkImage %>" alt="<%= anime.nameAnime %>" class="w-10 h-20 object-cover">
                               <div class="flex flex-col  pl-3">
                                <a href="/browse/anime/<%= anime._id %>"><%= anime.nameAnime %></a>
                                - Updated on:  <span class="font-bold"><%= moment(anime.updatedAt).locale('th').fromNow() %></span>
                               </div>
                                </li>
                        <% }) %>
                    </ul>
                </div>

                <div class="mt-5 bg-white p-2">
                    <h3 class="font-bold text-2xl">New arrival</h3>
                    <ul>
                        <% newestAnimes.forEach(anime => { %>
                            <li class="px-4 m-2 flex items-center">
                                <img src="<%= anime.linkImage %>" alt="<%= anime.nameAnime %>" class="w-10 h-20 object-cover">
                               <div class="flex flex-col  pl-3">
                                <a href="/browse/anime/<%= anime._id %>"><%= anime.nameAnime %></a>
                                - มาเมื่อ:  <span class="font-bold"><%= moment(anime.createdAt).locale('th').fromNow() %></span>
                               </div>
                                </li>
                        <% }) %>
                    </ul>
                </div>
               </div>
            </div>

            
        </div>
    </main>
    <%- include('../footer') %>

    <script src="/js/pages/anilist.js" defer></script>
</body>
</html>
